.dfe-list--bordered {


    margin: 0;

    li a {
        border: 1px solid $govuk-border-colour;
        padding: 20px;
        text-decoration: none !important;
        display: block;
        text-decoration: none !important;
        font-weight: 600;
        margin: 0 0 15px 0;
    }
}

