{%if not largeSBS%}
    <div class="app-step-nav-related app-step-nav-related--singular">
        <h2 class="app-step-nav-related__heading">
            <span class="app-step-nav-related__pretitle">Part of</span>
            <a href="/service-assurance/" class="govuk-link govuk-link--no-visited-state">
          Service assurance: step by step
        </a>
        </h2>
    </div>
    {%endif%}

    <div data-module="appstepnav"id="step-by-step-navigation" class="app-step-nav {%if largeSBS%}app-step-nav--large{%endif%} js-hidden" data-show-text="Show" data-hide-text="Hide" data-show-all-text="Show all steps" data-hide-all-text="Hide all steps">
        <ol class="app-step-nav__steps">
            {% for step in structure %}
                <li class="app-step-nav__step js-step {% if active_block == step.step%}active-step{% endif %}" id="sbs-{{step.step}}">
                    <div class="app-step-nav__header js-toggle-panel" data-position="{{step.step}}">
                        <h2 class="app-step-nav__title">
                            <span class="app-step-nav__circle app-step-nav__circle--number">
                                <span class="app-step-nav__circle-inner">
                                    <span class="app-step-nav__circle-background">
                                        <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span>
                                        {{step.step}}
                                        <span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                                    </span>
                                </span>
                            </span>

                            <span class="js-step-title">
                                {{step.title}}
                            </span>
                        </h2>
                    </div>

                    <div class="app-step-nav__panel js-panel" id="step-panel-sbs-{{step.step}}" data-show>
                        <p class="app-step-nav__paragraph">{{step.description}}</p>

                        <ol class="app-step-nav__list  js-list-item" data-length="{{step.subPages | length}}">
                            {% for page in step.subPages %}
                            {% if page.subSection%}<li class="govuk-!-margin-bottom-2 govuk-!-font-size-18 govuk-!-margin-top-5">{{page.subSection}}</li>{%endif%}
                            <li class="app-step-nav__list-item js-list-item ">
                                <a data-position="{{step.step}}.{{loop.index}}" class="app-step-nav__link js-link" href="/service-assurance/{{page.slug}}">{{page.title}}</a>
                            </li>
                            {% endfor%}
                        </ol>
                    </div>

                </li>
            {% endfor %}

        </ol>
    </div>