{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "Service assessments" %}
{% set pageName = "Actioning recommendations" %}
{% set pageDescription = "How to action recommendations in a peer review or service assessment report"%}



{% block content %}

{% markdown %}

## Manage actions in a peer review report

The peer review report will contain observations and recommendations from the panel. The panel will support the team with any recommendations made. 

The report will also contain a RAG (red, amber, green) rating as part of the outcome. 

 

### If a peer review gets a red rating

Depending on the concerns or recommendations, the team could: 

- consider stopping the discovery, if in the discovery phase

- consider pausing work while the team address any actions or recommendations, if in the alpha or beta phase

- escalate issues or problems to their senior responsible officer or senior leadership team 

- contact the lead assessor or relevant head of profession for support to plan next steps 

 

### If a peer review gets an amber rating 

Depending on the concerns or recommendations, the team could: 

- revisit the problem the work is aiming to understand, if in discovery

- contact the lead assessor or relevant head of profession for support 

- plan how to demonstrate actioning recommendations at an alpha or beta assessment. [Apply the Service Standard in DfE](/) can help with this 

 

### If a peer review gets a green rating

The team is on the right track. Follow the [Service Standard](/) and think about the next phase of delivery. 

## Manage actions in a service assessment report

 

Actions in a service assessment report are things the team must do to help the service meet the [Service Standard](https://apply-the-service-standard.education.gov.uk/service-standard). 

 

If your assessment report contains amber or red-rated standards, there will also be a list of actions for the team.  

 

The assessor panel and heads of profession in DfE will support teams to complete any actions. 

 

### If a standard is rated red

 

If your service has any red-rated standards, you’ll need to book a reassessment. 

 

You should: 

 

- complete any actions before moving forward 

- review the actions as a team 

- go back to the assessor panel with any specific questions 

- prioritise actions in sprint planning 

- book a reassessment 

- demonstrate, with support of the panel and heads of profession, how you've met the standard 

 

At reassessment, the assessors will listen to the team talk through the actions they’ve resolved. 

 

You'll then get a new report with outcomes for standards that have been reassessed. 

 

### If a standard is rated amber

 

If your service has any amber-rated standards, you can continue to the next phase but will need to resolve any actions within 3 months.

 

You should: 

 

- review the actions as a team 

- build actions into sprint planning 

- involve heads of profession or profession leads to address actions 

- book your next assessment 

- demonstrate how you’ve resolved the actions before your next assessment 

 

If you have amber actions that you're unable to resolve before your next assessment, work with the assessors, heads of profession, or profession leads to demonstrate how you'll either mitigate the action or resolve it in the future.  

 

For example, an amber rating for an issue that you know you cannot resolve by your next assessment, but will add to your roadmap, ready for the next iteration. 

 ### If a standard is rated green

There will be no actions for the team to take.  The team is on the right track.


## If the team want to challenge the report 

Email the service assessment plus team at [serviceassessment.plus@education.gov.uk](mailto:serviceassessment.plus@education.gov.uk) to arrange next steps. They'll set up a meeting with the panel so that you can talk through the report. 

{% endmarkdown %}

{% endblock %}