{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "Service assessments" %}
{% set pageName = "Alpha and beta peer reviews" %}
{% set pageDescription = "Why choose an alpha or beta peer review and how they can add value to your service or product"%}



{% block content %}

{% markdown %}

An alpha or beta peer review is a 4-hour informal review of a team's work. They're a way to get feedback and recommendations at either the middle or towards the end of a phase. 

Unlike a service assessment, a peer review will not result in the team stopping work based on the recommendations. 

If you'd like a more light touch review you could organise a [design crit](/service-assurance/design-crits). 

[Book an alpha or beta peer review](/book). 

## Why have one 

Peer reviews are not a mandated requirement from [CDDO (Central Digital and Data Office)](https://www.gov.uk/government/organisations/central-digital-and-data-office/about). They’re a chance to get feedback and advice from DfE colleagues. 

Peer reviews use the [Service Standard](https://apply-the-service-standard.education.gov.uk/service-standard) as a guide to provide recommendations.

They can help you understand if there's anything you need to change or improve in a service before you move to the next phase. 

You can also use them as a measure against the [Service Standard](https://apply-the-service-standard.education.gov.uk/service-standard) before you have a service assessment. If you're doing this, it's a good idea to arrange your peer review in the middle of the phase you're in. 

## When to book an alpha or beta peer review 

You should [book a peer review](/book) 5 to 6 weeks in advance, so that volunteers are more likely to have time to be on the panel. 

 
## What to prepare for an alpha or beta peer review 

Think about the best way to tell the story and show the work of the phase the team is in. This could be a mixture of Lucid boards, docs, and sketches. 

You can create a slide deck but remember to show the actual work done to build the service, rather than lots of pre-prepared slides. Use slides to set the context, for example, but keep the deck to a minimum. 

Review the practical tips by phase in [Apply the Service Standard in DfE](https://apply-the-service-standard.education.gov.uk/service-standard) to help you prepare.  

 

## What to expect during an alpha or beta peer review 

### One to 2 days before 

The team will have a call with the panel. 

If the panel has been to the service’s show and tells or governance calls, they may not need to do this. If they’re less familiar with the work, it can be useful for user research, design, and tech to have a call with the relevant panel member. This is a chance to provide context or share things you think will be useful for the panel to know. 

 

Share any related artefacts with the panel. 

 

This could include journey maps, user needs, personas, JIRA or Trello boards, design histories, prototypes, and roadmaps. 

 

You can share work in progress, it doesn't need to be finished. It gives the panel an idea of how you work and what you’ve done so far. 


### On the day   

How you want the peer review to run is for the team to agree with the panel. You could, for example, have a 45-minute show and tell, followed by sections to cover the problem area, users, hypotheses and measures of success.  

Agree a representative from each discipline who will present and answer questions. The rest of the team can attend to observe. 

It's up to the team to decide whether you have questions throughout, or at the end. Discuss this with the panel in advance.  
 
 ### After the alpha or beta peer review  

The panel will meet after the peer review to discuss observations.

They'll complete the report and share it with the team within 7 working days.

The report will include what the team has done well and recommendations that consider the [14 points of the Service Standard](https://apply-the-service-standard.education.gov.uk/service-standard).  

Go to [your peer review report](/service-assessments/peer-review-report) for details about receiving a report and acting on recommendations. 
 

 

 


{% endmarkdown %}

{% endblock %}