{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "Service assessments" %}
{% set pageName = "Service assessments" %}
{% set pageDescription = "What a service assessment is, types of assessment panels and the outcome for teams"%}


{% block content %}

{% markdown %}

A service assessment measures a service against the [14 points of the GOV.UK Service Standard](/service-standard). It's a space for service teams to get expert advice from a panel of specialists. 


## Why have one 
 

All services need to have an assessment. Getting assessed is a condition of your Cabinet Office spend approval.  

## When to book a service assessment  

Service assessments happen at the end of alpha, private and public beta phases.  They're usually 4 hours long and take place on Tuesdays, Wednesdays, or Thursdays. 

You should request a service assessment at least 5 weeks in advance so that the Service Assessment Plus team has time to arrange an assessor panel.

If you're in discovery, you should book a [discovery peer review](/service-assessments/discovery-peer-review). This will help the team to understand what the problem is, priorities and whether to move into alpha. 

<a href="https://service-assessments.education.gov.uk/book">Book a service assessment</a>. 

## Cross-government panel assessment  

If your service has over 100,000 transactions per year or users are from more than one government department, the panel will consist of cross-government assessors. 

Some non-transactional services may also need to be assessed by a cross-government panel. The Service Assessment Plus team can advise on this when you book your assessment. 

Read the guidance for [what counts as a transactional service](https://www.gov.uk/service-manual/service-assessments/check-if-need-to-meet-service-standard#what-counts-as-a-transactional-service).


## DfE panel assessment  

If your service has under 100,000 transactions per year, is non-transactional, or is an information service, the panel will consist of DfE assessors.  
  
## What to prepare for a service assessment

Think about the best way to tell the story and show the work of the phase the team is in. This could be a mixture of Lucid boards, docs, and sketches. 

You can create a slide deck but remember to show the actual work done to build the service, rather than lots of pre-prepared slides. Use slides to set the context for example, but keep the deck to a minimum. 

Review the practical tips by phase in [Apply the Service Standard in DfE](https://apply-the-service-standard.education.gov.uk/service-standard) to help you prepare. 

## What to expect during a service assessment 

### After you request an assessment 

You'll receive an email with next steps. This includes how to share links to artefacts for the panel to read. For example, strategy docs, Lucid boards, design histories, or slide decks. 

You can add links to work in progress, to give the panel an idea of what you've done so far. 

### One to 2 days before 

The team will have a Teams call with the panel. This is a chance for everyone to meet and agree on what will happen during the assessment. 

For larger projects, user research, design, and tech will also have pre-assessment calls with the relevant assessors. 

### On the day 

Service assessments are usually 4 hours but can vary. Some services may need less time, whereas larger services may need more. You can discuss your needs with the Service Assessment Plus team as part of booking.  

Someone from each discipline within the team should attend. It can be of value for the rest of the team to attend as silent observers. 

The panel includes a user researcher, designer (depending on the service, this could be content, interaction, or service design), tech assessor, and product or delivery manager. 

There may also be silent observers from DfE or cross-government for learning and development opportunities. 

### Example assessment agenda

You should agree in the pre-call with the assessors how the session will run.  

An example agenda might look like this: 

| Time | Action |  
|------------------|----------------------------|  
| 5 to 10 minutes | Introductions and housekeeping |  
| 50 minutes | Team show and tell |  
| 50 minutes | User research | 
| 10 minutes | Break |  
| 45 minutes | Design | 
| 20 minutes | Team and governance | 
| 25 minutes | Tech | 
| 20 minutes | Performance | 
| 10 minutes | Wrap up and next steps | 

### During an assessment

Assessors will review the work of a service team in a [proportionate way](https://www.gov.uk/service-manual/service-assessments/check-if-need-to-meet-service-standard#adapting-the-service-standard) against the Service Standard. 

They will take into account the context the team are working in and ask questions to support the team in demonstrating why they’ve built what they have and how they’ve met the standard.

### After the assessment 

You'll receive a detailed report within 7 working days. 

The report will include an overall [RAG (red, amber, green) rating](/service-assessments/service-assessment-report#service-assessment-rag-ratings) for the service, plus a RAG rating for each of the [14 points of the Service Standard](https://apply-the-service-standard.education.gov.uk/service-standard), feedback and any actions. 

Go to [your service assessment report](/service-assessments/service-assessment-report#assessment-report-rag-ratings) for report details and how to act on recommendations. 

{% endmarkdown %}

{% endblock %}