{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "Service assessments" %}
{% set pageName = "Discovery peer reviews" %}
{% set pageDescription = "Why have a discovery peer review and how they can add value to your work"%}



{% block content %}

{% markdown %}


A discovery peer review is a 2-hour informal review of a team's work in the [discovery phase](https://www.gov.uk/service-manual/agile-delivery/how-the-discovery-phase-works).  

It's a way to get feedback and recommendations at the end of this phase. All discoveries in DfE are required to have one. 

It's not an assessment, your work will not be RAG rated. There are no assessments at discovery. 

<a href="https://service-assessments.education.gov.uk/book">Book a discovery peer review</a>.

## Why have one 

A discovery peer review will give reassurance to confirm whether you: 

- have understood what the problem is and priorities for the team 
- should move into the alpha phase 

After the review, the team will get a report with practical recommendations and advice. It will not result in a pass or fail. It will not stop a team from progressing. 

But remember, if research shows that it's better to stop at the end of discovery, this is not a failure. The team will be saving time and money that could be better spent elsewhere. 

### What a team gets out of having a review 

If the assessors have recommendations for the team, these will be detailed in the report. The team can then decide on how they want to act on the recommendations. This could mean having a follow-up call or a workshop. 

Use the report to the team's advantage. Communicate recommendations with stakeholders or use it to prepare for the next phase of delivery. 

## When to book 

When you start your discovery, you should plan to <a href="https://service-assessments.education.gov.uk/book">book your peer review</a> so that it happens near the end of discovery. 

Make the booking at least 5 weeks in advance so the Service Assessment Plus team has time to arrange a panel. 

## What to prepare for a discovery peer review 

Think about the best way to show the narrative of your discovery. 

Include things like: 

- how you've explored the problem space 
- who are your users and their needs 
- existing services that meet your users' needs 
- any current user journeys 
- any existing policy or solution constraints 
- next steps to take 

These points are taken from things teams should consider in the discovery phase for [standards 1 to 7](/service-standard). Show what you've done to explore these at your peer review. 

You could share a mixture of Lucid boards, docs, and sketches. It could include slides but it doesn't have to. 

## What to expect during a discovery peer review 

### After you request the peer review 

You'll receive an email with next steps. 

This includes how to share links to artefacts for the panel to read. For example, Lucid boards, docs, or slide decks. You can add links to work in progress, it doesn't need to be finished, it just gives the panel an idea of the discovery. 

### One to 2 days before 

The team will have a call with the panel. This is a chance for everyone to meet and agree on what will happen during the session. 

### On the day 

Discovery peer reviews are 2 hours. People who attend include members of the discovery team and a peer review panel. The panel usually includes a user researcher, designer, and product or delivery manager. There may also be silent observers for learning and development opportunities. 

How you want the review to run is for you to agree with the panel. You could, for example, agree to have 45-minutes-to-an-hour show and tell, with the remaining time for questions and answers. You should aim to explore the problem space, the users and agree next steps. 

See an [example agenda](/service-assessments/run-peer-review#example-discovery-peer-review-agenda). 

### After the discovery peer review 

The panel will meet to discuss observations.

They'll complete the report and share it with the team approximately 3 working days after the review.

## Your discovery peer review report
The report will include what team has done well, plus recommendations that consider the first 7 points of the [Service Standard](https://apply-the-service-standard.education.gov.uk/service-standard). 

The panel will support the team with any recommendations made. 

### Review recommendations as a team

If your report has recommendations, you could: 

- consider stopping work or revisiting the problem space
- escalate issues or problems to the senior responsible officer or senior leadership team 
- contact the lead assessor or relevant head of profession for support to plan next steps 
- plan how to demonstrate actioning recommendations at an alpha or beta assessment. [Apply the Service Standard in DfE](/) can help with this 

### Accept or challenge the report 

Once you've read the report, the product or delivery manager has 10 working days to accept or challenge it. 

### To accept the report 

If the team agree with what's written, you can accept the report on <a href="https://service-assessments.education.gov.uk/manage">your dashboard</a> in the Service assessment service. 

### To challenge the report 

Arrange next steps by emailing the <a href="mailto:serviceassessment.plus@education.gov.uk">Service Assessment Plus team</a>.  

They'll set up a meeting for the team with the panel. You'll agree any changes to the report with the panel before you accept it. 

## What happens next 

Once the report has been accepted, it will automatically be published in the <a href="https://service-assessments.education.gov.uk/reports">reports</a> of the service. The team can then follow any recommendations and next steps.  

Depending on the outcome, the team may be asked to provide evidence of any actions they've taken to implement recommendations. 

 


{% endmarkdown %}

{% endblock %}