{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "Service assessments" %}
{% set pageName = "Overview" %}
{% set seoPageDescription = "What a service assessment or peer review is and how to book one in the Department for
Education."%}
{% set pageDescription = "What a service assessment or discovery peer review is and how to book one in DfE"%}



{% block content %}

{% markdown %}

In DfE, all services need to have a service assessment. Getting assessed is a condition of your Cabinet Office
spend approval.

This includes:

- transactional
- non-transactional, and
- information services

Service assessments happen at the end of alpha, private beta and public beta phases. If you are in the discovery phase,
you should have a [peer review](/service-assessments/discovery-peer-review).

A service may be assessed by a panel of people from across government or within DfE.


## Cross-government panel service assessment 

You need a cross-government panel assessment if your service or product is: 

- a transactional service with over 100,000 transactions per year, or 
- users are from more than one public sector organisation 

The service assessment plus team will work with CDDO (Central Digital and Data Office) to arrange the panel of cross-government assessors.  


Book a cross-government service assessment by emailing the <a href="mailto:serviceassessment.plus@education.gov.uk">service assessment plus team</a>. 


## DfE panel service assessment 

You need a DfE panel assessment if your service or product is:

- transactional and will have less than 100,000 transactions per year
- non-transactional, or
- an information service 

Book a DfE panel service assessment by emailing the <a href="mailto:serviceassessment.plus@education.gov.uk">service assessment plus team</a>. 

## Discovery peer reviews 

You need a peer review if your in the discovery phase.

The outcome will be a report sharing what the team has done well and what they need to improve. You will no longer get a RAG rating.  
 
Book a discovery peer review by emailing the <a href="mailto:serviceassessment.plus@education.gov.uk">service assessment plus team</a>. 

## Mid or end of phase peer reviews

If you would like an alpha or beta mid-phase peer review, you can arrange this yourself within your team or ask other DDT colleagues to review your work. They do not need to be assessors.

Mid-phase peer reviews can be a useful way to get feedback and recommendations as you prepare for a service assessment. 

End of phase peer reviews are now service assessments.

{% endmarkdown %}

{% endblock %}
