{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "Service assessments" %}
{% set pageName = "Overview" %}
{% set seoPageDescription = "Service assessments and discovery peer reviews and how to book one in the Department for
Education."%}
{% set pageDescription = "Service assessments and discovery peer reviews and how to book one"%}



{% block content %}

{% markdown %}

Across government, Digital, Data and Technology (DDaT) services must be assessed against the Service Standard at key points during their development. 

Getting assessed is a condition of Cabinet Office DDaT spend approval.

Service assessments happen at the end of alpha, private beta and public beta phases. If you're in the discovery phase,
you should have a [peer review](/service-assessments/discovery-peer-review).

A service is assessed by a panel of trained assessors from across government or within DfE. The assessment will be carried out in the same way regardless of the panel.

Book a cross-government service assessment by using the <a href="https://service-assessments.education.gov.uk/book">Service assessment service</a>.


## DfE panel service assessment 

You need a DfE panel assessment if your service or product is:

- transactional and will have less than 100,000 transactions per year
- non-transactional, or
- an information service 

Book a service assessment using the <a href="https://service-assessments.education.gov.uk/book">Service assessment service</a>. 


## Cross-government panel service assessment 

You need a cross-government panel assessment if your service or product is: 

- a transactional service with over 100,000 transactions per year, or 
- users are from more than one public sector organisation 

The Service Assessment Plus team will work with CDDO (Central Digital and Data Office) to arrange the panel of cross-government assessors.  


Book a cross-government service assessment by using the <a href="https://service-assessments.education.gov.uk/book">Service assessment service</a>.


## DfE panel service assessment 

You need a DfE panel assessment if your service or product is:

- transactional and will have less than 100,000 transactions per year
- non-transactional, or
- an information service 

Book a service assessment using the <a href="https://service-assessments.education.gov.uk/book">Service assessment service</a>. 

## Discovery peer reviews 

You need a peer review if you're in the discovery phase.

The outcome will be a report sharing what the team has done well and what they need to improve. You will no longer get a RAG rating.  
 
Book a discovery peer review using the <a href="https://service-assessments.education.gov.uk/book">Service assessment service</a>.

## Mid or end of phase peer reviews

If you would like a mid-phase alpha or beta peer review, you can arrange this yourself within your team or ask other DDT colleagues to review your work. They do not need to be assessors.

Mid-phase peer reviews can be a useful way to get feedback and recommendations as you prepare for a service assessment. 

End of phase peer reviews are now service assessments.

### How to run a mid-phase alpha or beta peer review
<ol class="govuk-list govuk-list--number">
  <li>Gather a panel of peer reviewers from relevant disciplines.</li>
  <li>Create a copy of a <a href="https://educationgovuk.sharepoint.com/:w:/r/sites/ServiceAssessments2/Shared%20Documents/General/Assessment%20Checklists%20%26%20Report%20Templates/Alpha%20to%20Beta/Alpha_to_Beta_updated_standard_post%20June%202019/Alpha_Beta_MidPhase_PeerReview.docx?d=wc50fbd916275430e8649f106bdefd4d9&csf=1&web=1&e=Whca0Q">mid-phase peer review report template</a>.</li>
  <li>Email a copy of the report to the <a href="mailto:serviceassessment.plus@education.gov.uk">Service Assessment Plus team</a>. They will share the report with assessors when you have an end-of-phase assessment as evidence of self-assurance within the team.</li>
</ol>

{% endmarkdown %}

{% endblock %}
