{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "Service assessments" %}
{% set pageName = "Overview" %}
{% set seoPageDescription = "Service assessments and discovery peer reviews and how to book one in the Department for
Education."%}
{% set pageDescription = "Service assessments, peer reviews and how to book one"%}



{% block content %}

{% markdown %}


Across government, digital and technology services must be assessed against the Service Standard at the end of each phase. Getting assessed is a condition of Cabinet Office spend approval.

Service assessments happen at the end of alpha, private beta, and public beta phases. They are compulsory for transactional services and recommended for non-transactional services.

If you're in the discovery phase, you should have a <a href="/service-assessments/discovery-peer-review">peer review</a>.


A service is transactional if it allows users to either:

- exchange information, money, permission, goods, or services
- submit personal information that results in a change to a government record

A service is assessed by a panel of trained assessors from either DfE, or across government. The assessment will be the same, no matter which panel is reviewing it.

## DfE panel service assessment

You need a DfE panel service assessment if your service or product:

- has less than 100,000 transactions per year (actual or planned)
- is non-transactional

Book a DfE panel service assessment using the <a href="https://service-assessments.education.gov.uk/book">Service assessment service</a>.

## Cross-government panel service assessment

You need a cross-government panel service assessment if your service or product has:

- over 100,000 transactions per year (actual or planned)
- users are from more than one public sector organisation

The Service Assessment Plus team will work with Central Digital and Data Office (CDDO) to arrange the panel of cross-government assessors.

Book a cross-government service assessment using the <a href="https://service-assessments.education.gov.uk/book">Service assessment service</a>.

## Peer reviews

Peer reviews are a less formal version of a service assessment. A report is produced, which will share feedback and recommendations. It is not an assessment and will not be RAG rated.


Peer reviews are always arranged with a DfE panel.

### Discovery peer reviews

You need a peer review at the end of the discovery phase to provide assurance that it is reasonable to move to alpha.

Book a discovery peer review using the <a href="https://service-assessments.education.gov.uk/book">Service assessment service</a>.

### Other peer reviews

Peer reviews can also be arranged mid-way through alpha, private-beta, or public-beta phases. They provide assurance that the team is doing the right thing and are working towards the <a href="https://apply-the-service-standard.education.gov.uk/">Service Standard</a>. They can also help to prepare a team for an end-of-phase service assessment.

Mid-phase peer reviews are not compulsory. They may be requested by a service team, recommended as part of the Cabinet Office spend controls process, or by a service assessment panel.

If you would like to request a mid-phase peer review, please contact the [Service Assessment Plus team](mailto:serviceassessment.plus@education.gov.uk).

The Service Assessment Plus team will prioritise service assessments over mid-phase peer reviews when recruiting assessor panels.

## Support

Email the [Service Assessment Plus team](serviceassessment.plus@education.gov.uk](mailto:serviceassessment.plus@education.gov.uk) if you have any questions about service assessments or peer reviews.


{% endmarkdown %}

{% endblock %}
