{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "Service assessments" %}
{% set pageName = "Your discovery peer review report" %}
{% set pageDescription = "The outcome of a discovery peer review and next steps for the team"%}



{% block content %}

{% markdown %}

You'll receive an email with a link to the report up to 7 days after the discovery peer review.  

The report will include what team has done well, plus recommendations to explore. The panel will support the team with any recommendations made. 

## Review recommendations as a team

If your discovery peer review report has recommendations, you could: 

- consider stopping work or revisiting the problem space
- escalate issues or problems to the senior responsible officer or senior leadership team 
- contact the lead assessor or relevant head of profession for support to plan next steps 
- plan how to demonstrate actioning recommendations at an alpha or beta assessment. [Apply the Service Standard in DfE](/) can help with this 

## Accept or challenge the report 

Once you've read the report, the product or delivery manager has 10 working days to accept or challenge it. 

### To accept the report 

If the team agree with what's written, you can accept the report on [your dashboard](/book) in the Service assessment service. 

### To challenge the report 

Arrange next steps and email the Service Assessment Plus team at [serviceassessment.plus@education.gov.uk](mailto:serviceassessment.plus@education.gov.uk).  

They'll set up a meeting for the team with the panel. You'll agree any changes to the report with the panel before you accept it. 

## What happens next 

Once the report has been accepted, it will automatically be published in the [reports section](/reports/) of the service. The team can then follow any recommendations and next steps.  

Depending on the outcome, the team may be asked to provide evidence of any actions they've taken to implement recommendations. 

 


{% endmarkdown %}

{% endblock %}