{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "Service assessments" %}
{% set pageName = "Your peer review report" %}
{% set pageDescription = "The outcome of a peer review and what the RAG (red, amber, green) rating means"%}



{% block content %}

{% markdown %}

You'll receive an email up to 3 days after the peer review takes place with a link to the report.  

 

## What to expect in a report 

The report will contain 3 sections. 

 

This includes what the panel was impressed with and what team has done well. Plus, recommendations for the team to explore. 

 

It will also provide a [RAG (red, amber, green) rating](/service-assessments/peer-review-report#peer-review-rag-rating-description) for the service or work the team has done, with a description of what this means. This can include specific recommendations the team needs to action.

 

## Peer review RAG ratings 

 

### Red 

There are serious concerns or recommendations the team should address before continuing. 

The team may want to consider escalating issues or problems to their senior responsible officer or senior leadership team. 

If the team are in discovery, they might want to consider stopping at this point. 

If the team are in alpha or beta, they might want to pause work while they address any concerns or recommendations.

 

### Amber 

There are some recommendations. 

If the team are in discovery, at this point, they may want to look at whether or not they continue or revisit the purpose of the discovery. This may result in running another discovery or evidencing improvements in an alpha assessment. 

If the team are in alpha or beta, at this point, they may want to look to build in any recommendations to the next phase of the service. 

### Green 

The team is on the right track. 

 

There will be no actions recorded in the report.  

 

## Accept or challenge the report 

Once you've read the report, the product or delivery manager has 10 working days to accept or challenge it. 

 

### To accept the report 

If the team agree with what's written in the report, you can accept it on [your dashboard](/book) in the Service assessment service. 

 

### To challenge the report 

Arrange next steps and email the service assessment plus team at [serviceassessment.plus@education.gov.uk](mailto:serviceassessment.plus@education.gov.uk).  

 

They'll set up a meeting for the team with the panel. You'll agree any changes to the report with the panel before you accept it. 

 

## What happens next 

Once the report has been accepted, it will automatically be published in the [reports section](/reports/) of the service. The team can then follow any recommendations and next steps.  

 

Depending on the outcome, the team may be asked to provide evidence of any actions they've taken to implement recommendations. 

 


{% endmarkdown %}

{% endblock %}