{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "Service assessments" %}
{% set pageName = "Running a peer review or assessments" %}
{% set pageDescription = "TK"%}



{% block content %}

{% markdown %}

[DRAFT - HOLD]


### Guidance for volunteer panel 

 

You’ll need to make time to read any artefacts shared in advance. Plus, time for the peer review itself.  

 

Similar to a service assessment, it's the lead assessor's responsibility to manage the agenda and timings, then review and share the report.  

 

You’ll write a report with the rest of the panel, documenting what the team has done well and what the team need to explore. 


{% endmarkdown %}

{% endblock %}