{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "Service assessments" %}
{% set pageName = "Run a discovery peer review" %}
{% set pageDescription = "Your role as an assessor and what you need to do"%}



{% block content %}

{% markdown %}

As an assessor you'll help a team to understand if they've completed their discovery. 

You'll consider whether they've made well-evidenced recommendations and are ready to move onto the next phase.

## The discovery peer review panel 

A panel will consist of user research, design, product or delivery and a technical role. 

Together you'll provide a level of assurance for a team to decide if they need to stop the project, pause and focus on recommendations or carry on as they are.  

As part of the panel, there will be a lead assessor, who'll be responsible for chairing the discovery peer review and coordinating the report. 

## Before a discovery peer review 

Assessors should: 
- read the supporting artefacts about the discovery. Start to think about questions
- take part in a pre-call (organised by the Service Assessment Plus team) to do introductions and agree an agenda 
- answer any questions or concerns the team may have 

### Example discovery peer review agenda 

A discovery peer review is 2 hours long and can take place on Tuesdays, Wednesdays, or Thursdays. 

You should agree in the pre-call with the service team how the session will run.  

An example agenda might look like this: 

| Time | Action | 
|------------------|----------------------------| 
| 5 to 10 minutes | Introductions and housekeeping | 
| 45 minutes | Team show and tell | 
| 10 minutes | Break | 
| 45 minutes | Questions and answers | 
| 5 minutes | Wrap up and next steps | 


## During a discovery peer review 

Assessors should: 
- review the work of the discovery 
- decide if the team have done enough to understand who the users are and their needs 
- understand what the problem is 
- understand priorities for the team 
- determine if the team has things to work on in an alpha or should stop 
- provide authoritative advice, guidance, and recommendations 

## After a discovery peer review 

Assessors should: 
- write up any recommendations or outcomes in the report
- submit the report, if you're the lead assessor 
- provide any support needed after the peer review, along with any actions. This could mean answering questions or giving advice

You'll be supported by the Service Assessment Plus team throughout the process. 


## Complete a discovery peer review report
The report should aim to conclude whether the team has understood the problem space and priorities for next steps following the end of discovery. 

If the team has not yet reached a decision on next steps, the report will give feedback and recommendations based on the evidence shared at the peer review. 

### Draft the report

During the discovery peer review, consider the practical tips in [Apply the Service Standard in DfE](https://apply-the-service-standard.education.gov.uk/service-standard) against standards 1 to 7 in the discovery phase. This will help you understand if the team has done what they need to do to mark the end of discovery. 

Although a team in discovery won't yet have made tech choices, they should, if relevant, show an understanding of existing options. 

Acknowledge any constraints or business requirements the team is working to.

### Include what the team has done well

Make sure you consider feedback on the positive aspects of the discovery too, not only on recommendations on what to improve. 

Work together with the rest of the panel to gather your findings and recommendations. 

Do this in a way that suits you. For example, use a shared Word doc or the panel chat in Slack. 

Once the panel is happy with the notes, add them to the final report in the service. This is usually done by the lead assessor, but the panel can add their findings individually.

You should aim to complete the report within 3 days.

### Submit the report 

It's the lead assessor's responsibility to submit the discovery peer review report to the Service Assessment Plus team for final checks before it's shared with the service team. 

If the team accepts the report and there are recommendations the panel has offered to support, the team will be in touch. This could mean having a follow-up call or giving advice on a workshop, depending on the recommendations. 

If the team challenges the report, they'll raise any issues with the Service Assessment Plus team, who'll set up a meeting with the panel. 



{% endmarkdown %}

{% endblock %}