{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "Service assessments" %}
{% set pageName = "Run a peer review" %}
{% set pageDescription = "Your role as an assessor and what you need to do"%}



{% block content %}

{% markdown %}
A peer review is an informal review of a team's work.

As an assessor, you'll help a team by giving feedback and recommendations at either the middle or towards the end of a phase.

If a team is having an end-of-phase assessment, a mid-phase peer review can help them to identify areas they need to work on to meet the [Service Standard](https://apply-the-service-standard.education.gov.uk/service-standard).

## For discovery peer reviews

Discovery peer reviews are usually 2 hours long.

As an assessor you'll help a team to understand if they've completed their discovery and whether they should move into alpha. 

## For alpha and beta peer reviews

Alpha and beta peer reviews are 4 hours long.

As an assessor you'll consider whether the team are doing the right thing in the right way and are considering the [Service Standard](https://apply-the-service-standard.education.gov.uk/service-standard). You'll provide recommendations for the team to take forward into the next phase.

## The peer review panel 

A panel will consist of user research, design, product or delivery and a technical role. Together, you'll provide a level of assurance for a team to decide if they need to stop or carry on. 

As part of the panel, there will be a lead assessor, who'll be responsible for chairing the peer review and coordinating the report. 

### Before a peer review 

Assessors should: 
- read the supporting artefacts about the work the team has done. Start to think about questions
- take part in a pre-call, organised by the service assessment plus team, to do introductions and agree an agenda 
- answer any questions or concerns the team may have 
- read any reports from previous phases

Lead assessors should also:
- meet the team to finalise timings, what to cover, breaks and how they want to take questions
- check if there's anything the team want assessors to focus on
- meet the assessor panel via Teams, check if they've read any previous phase reports and ask if there's anything they want to focus on
- check if anyone in the team or panel has any particular needs that should be taken into account

### During a discovery peer review 

Assessors should: 
- review the work of the discovery 
- decide if the team have done enough to understand who the users are and their needs 
- understand what the problem is 
- understand priorities for the team 
- determine if the team has things to work on in an alpha or should stop 
- provide authoritative advice, guidance, and recommendations 

### During an alpha or beta peer review 

Assessors should: 

- review whether the team are doing the right thing, are working in the right way, and are considering the [Service Standard](https://apply-the-service-standard.education.gov.uk/service-standard)
- ask questions to support the team in demonstrating why they've built what they have 
- use the practical examples in [Apply the Service Standard in DfE](https://apply-the-service-standard.education.gov.uk/service-standard) to review the work in a proportionate way. Take into account the context the team are working in

### Responsibilities for the lead assessor 

During all peer reviews, lead assessors should:
- explain the purpose of the peer review and how it will run
- manage time keeping, check people get breaks
- bring in the assessment panel for questions
- wrap up

### After a peer review on the day

Assessors should attend a wash-up call.

The lead assessor should chair the call with the panel. One way to do this is:
- check in with assessors
- run through the [Service Standard](https://apply-the-service-standard.education.gov.uk/service-standard) to give advice in the report for the team and service owner to consider
- invite comments from observers

### In the week after a peer review

Assessors should: 
- write up any recommendations or outcomes [in the report](/service-assessments/complete-peer-review-report) 
- submit the report, if you're the lead assessor 
- provide any support needed after the peer review, along with any actions. This could mean answering questions or giving advice

You'll be supported by the service assessment plus team throughout the process. 

## Example discovery peer review agenda 

A discovery peer review is 2 hours long and can take place on Tuesdays, Wednesdays, or Thursdays. 

You should agree in the pre-call with the service team how the session will run.  

An example agenda might look like this: 

| Time | Action | 
|------------------|----------------------------| 
| 5 to 10 minutes | Introductions and housekeeping | 
| 45 minutes | Team show and tell | 
| 10 minutes | Break | 
| 45 minutes | Questions and answers | 
| 5 minutes | Wrap up and next steps | 

## Example alpha or beta peer review agenda

An alpha or beta peer review is 4 hours long and can take place on Tuesdays, Wednesdays, or Thursdays. 

You should agree in the pre-call with the service team how the session will run.  

An example agenda might look like this: 

| Time | Action |  
|------------------|----------------------------|  
| 5 to 10 minutes | Introductions and housekeeping |  
| 50 minutes | Team show and tell: problem, context and constraints, service demo |  
| 50 minutes | User research | 
| 10 minutes | Break |  
| 45 minutes | Design | 
| 20 minutes | Team and governance | 
| 25 minutes | Tech | 
| 20 minutes | Performance | 
| 10 minutes | Wrap up and next steps | 



{% endmarkdown %}

{% endblock %}