{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "Service assessments" %}
{% set pageName = "Run a service assessment" %}
{% set pageDescription = "Your role as an assessor and what you need to do"%}



{% block content %}

{% markdown %}

As a trained assessor, you'll provide an independent view on how the team has applied the [Service Standard](https://apply-the-service-standard.education.gov.uk/service-standard) in their work.  

You'll listen to the team talk through an overview of the service. This usually includes details of the service, who the users are and what they're trying to do.  

You'll consider whether the service is ready to move into the next phase of delivery.  

Assessments are a space for services to get expert advice and guidance from a panel of specialists.  

 

### The assessment panel 

An assessment panel is usually made up of user research, design, product or delivery, and a technical role. 

Design could include interaction, service or content designer, or a mixture of the professions. 

Together, you'll provide a level of assurance to check and support a team moving to the next phase.  

The lead assessor tends to be a product or delivery role, but can be any profession. They're responsible for chairing the assessment and coordinating and submitting the report. 


### Before an assessment 

Assessors should:  

- read team artefacts relevant to your profession. For example, user research will review the research plan, whereas a lead assessor may only review the slidedeck. You'll find artefacts in the <a href="https://service-assessments.education.gov.uk/assess">Service assessment service</a>
- review previous reports. You'll be sent a link to these by the DfE Service Assessment Plus team  
- attend pre-assessment calls, organised by the DfE Service Assessment Plus team. You'll meet the team being assessed, agree the agenda and answer any profession-specific questions or concerns  

The lead assessor should also:

 - meet the team via Teams, to finalise timings and check if there's anything they want to focus on
 - meet the assessor panel via Teams, or Slack, to check if they've read any previous phase reports and if there's anything they want to focus on
 - check if anyone in the team or panel has any particular needs that should be taken into account

### During an assessment 

Assessors should:  
- review the work of the team against the [Service Standard](https://apply-the-service-standard.education.gov.uk/service-standard) in a proportionate way. Take into account the context the team are working in  
- ask questions to support the team in demonstrating why they’ve built what they have and how they’ve met the standard  

The lead assessor should also:
- explain the purpose of the assessment and how it will run
- manage time keeping
- bring in the assessment panel for questions
- explain next steps and wrap up

### After an assessment on the day

Assessors should attend a wash-up call.

The lead assessor should chair the call with the panel. Use this session to:

- check in with the assessors
- run through the [Service Standard](https://apply-the-service-standard.education.gov.uk/service-standard) to give advice for the team and service owner to consider
- invite comments from observers

### In the week after an assessment

Assessors should:  
- provide a [RAG (red, amber, green) rating](/service-assessments/complete-service-assessment-report#give-the-service-a-rating-for-each-service-standard) for each of the [14 Service Standard points](https://apply-the-service-standard.education.gov.uk/service-standard). Each point will be led by a different profession, with the lead assessor reviewing all 14. Read which points are most relevant to each profession on [Apply the Service Standard in DfE](https://apply-the-service-standard.education.gov.uk/service-standard)  
- detail any actions that the team must take, where a red or amber rating is given for that standard  
- work with the panel to determine an [overall RAG rating](/service-assessments/complete-service-assessment-report#give-the-service-a-rating-for-each-service-standard) for the assessment. You may want to have a final call together as a group, to review the completed report before submitting it 
- add any other observations to the report in the overview section, such as what the team has done well  
- submit the report, if you're the lead assessor

Read the guidance on [completing an assessment report](/service-assessments/complete-service-assessment-report) to help you through the process.

The DfE Service Assessment Plus team will support you in your role as an assessor.


 


{% endmarkdown %}

{% endblock %}