{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "Service assessments" %}
{% set pageName = "Your service assessment report" %}
{% set pageDescription = "The outcome of a service assessment and what the RAG (red, amber, green) rating means"%}

{% block content %}

{% markdown %}

You'll receive an email with a link to the report up to 7 days after the assessment.  

## What to expect in a report 

The previous 'met' and 'not met' outcomes have been replaced with a RAG (red, amber, green) rating.  

The overall service and each of the [14 Service Standard points](https://apply-the-service-standard.education.gov.uk/service-standard) will be given a RAG rating. 

Assessors will take into account the context the team are working in and will evaluate the [Service Standards](https://apply-the-service-standard.education.gov.uk/service-standard) in a proportionate way. 

If any of the standards are given a red or amber rating, there will also be a [list of actions for the team](/service-assessments/actioning-recommendations). 


## Service assessment RAG ratings 

### Red rating

This replaces the previous rating of 'not met'. 

If you receive a red rating, the service needs to pause, take appropriate action to address the issue and be re-assessed.

For the service to continue to the next phase, it must meet the [Service Standard](https://www.gov.uk/service-manual/service-standard).  

You'll be given a [list of actions](/service-assessments/actioning-recommendations) in the report to be reassessed against any standards rated red.  

### Amber rating 

This also replaces the previous rating of 'not met', or 'met with conditions' that has been used in DfE.  

If you receive an amber rating, you can move into the next phase of delivery.  

You'll be given a [list of actions](/service-assessments/actioning-recommendations) in the report for any standards rated amber. You should address these actions within 3 months.  

All amber-rated actions should be addressed before you book your next service assessment.  

### Green rating

This replaces the 'met' rating. Services that receive green ratings for all 14 Service Standard points can progress to the next phase.  

There will be no actions recorded in the report.  

## Accept or challenge the report 

Once you've read the report, the product or delivery manager has 10 working days to accept or challenge it. 

### To accept the report 

If the team agrees with what's written in the report, you can accept it on <a href="https://service-assessments.education.gov.uk/manage">your dashboard</a> in the Service assessment service. 


### To challenge the report 

Email the <a href="mailto:serviceassessment.plus@education.gov.uk">Service Assessment Plus team</a> to arrange next steps. 

They'll set up a meeting for the team with the panel. You'll need to agree any changes to the report with the panel before you accept the outcome. 

## When to get reassessed 

If your service receives a red rating for any of the standards, it will need to be reassessed against those points. 


For any standards that are rated red, the team will need to: 

<ol class="govuk-list govuk-list--number"> 

<li>Focus on resolving the actions.</li> 

<li>Book a reassessment.</li> 

<li>Evidence how they've resolved actions to meet the Service Standard.</li> 

</ol> 


## What happens next 

Once you've accepted the report, it will automatically be published in the <a href="https://service-assessments.education.gov.uk/reports"> reports section</a> in the service. 

After your assessment, you'll receive a link to [complete a survey](/service-assessments/survey) and provide feedback to help us improve the assessment experience. 


{% endmarkdown %}

{% endblock %}