{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "Service assessments" %}
{% set pageName = "Support the team" %}
{% set pageDescription = "The role of assessors after an assessment"%}
takes pl


{% block content %}

{% markdown %}


Assessors will be expected to support the team after the assessment to action any recommendations.

The lead assessor will mainly be responsible for overseeing this, their role will involve reviewing any actions taken if a service receives any [amber-rated Service Standards](/service-assessments/complete-service-assessment-report#amber-rating).

If you're an assessor, you may be contacted as an expert within your profession to support the team with specific tasks to meet amber-rated standards.


{% endmarkdown %}

{% endblock %}