{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "Service assessments" %}
{% set pageName = "Support the team" %}
{% set pageDescription = "TK"%}



{% block content %}

{% markdown %}


Assessors will be expected to support the team after the assessment to action any recommendations.

The lead assessor will mainly be responsible for overseeing this, but you may be contacted as an expert within your profession to support the team with specific tasks to meet amber-rated standards.


{% endmarkdown %}

{% endblock %}