{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "Service assessments" %}
{% set pageName = "Give feedback on the assessment process" %}
{% set pageDescription = "Share feedback to help improve the experience for everyone involved in assessments and assurance "%}



{% block content %}

{% markdown %}


After the service team receive the report, both the team and assessor panel will get a survey to complete. 

 

This gives everyone the opportunity to give feedback on the process from start to finish. 

 

## How we use your feedback 

 

Giving feedback helps improve the assurance process for future teams. 

 

We measure user satisfaction of the: 

- booking process 
- discovery peer review or service assessment
- support and guidance around the discovery peer review or service assessment 

 


{% endmarkdown %}

{% endblock %}