{% extends "layouts/content-with-sidenav.html" %}

{% set selectedNav = "Service assessments" %}
{% set pageName = "Give feedback on the assessment process" %}
{% set pageDescription = "Share feedback to help improve the experience for everyone involved in assessments and assurance "%}



{% block content %}

{% markdown %}


After you've received the report, both the service team and assessor panel will get a survey to complete. 

 

This gives everyone the opportunity to give feedback on the whole process from start to finish. 

 

## How we use your feedback 

 

Giving feedback helps improve the assurance process for future teams. 

 

We measure the user satisfaction of the: 

 

- booking process 

- peer review or service assessment

- support and guidance around the peer review or service assessment 

 


{% endmarkdown %}

{% endblock %}