{% extends "layouts/layout.html" %}

{% set selectedNav = "Service assessments" %}
{% set pageName = "Give feedback on the assessment process" %}
{% set seoPageDescription = "Share feedback to help improve the experience for everyone involved in assessments and assurance"%}
{% set pageDescription = "Share feedback to help improve the experience for everyone involved in assessments and assurance"%}

{% set path = "" %}

{% block content %}

    <div class="govuk-width-container">

        <div class="govuk-grid-row">

            <div class="govuk-grid-column-one-quarter">
                <a href="/" class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-9">Back to homepage</a>
                {% include 'partials/_sidenav.html' %}
            </div>

            <div class="govuk-grid-column-three-quarters">

                <span class="govuk-caption-l">Feedback</span>

                {% markdown %}

                # {{pageName}}

                After the service team receive the report, both the team and assessor panel will get a survey to complete. 

                This gives everyone the opportunity to give feedback on the process from start to finish. 

                ## How we use your feedback 

                Giving feedback helps improve the assurance process for future teams. 

                We measure user satisfaction of the: 

                - booking process 
                - discovery peer review or service assessment
                - support and guidance around the discovery peer review or service assessment 

                {% endmarkdown %}

            </div>

        </div>

    </div>
{% endblock %}