The [Service Standard](https://apply-the-service-standard.education.gov.uk/service-standard) will help your project, or service, to be accessible and inclusive to everyone who interacts with it. 

If you're in early stages of the project, you could book a [discovery peer review](/service-assurance/discovery-peer-review) for feedback in a supportive environment . 

If you're building something or testing prototypes, you may be in the alpha phase. In this case, you could have an [alpha peer review](/service-assurance/alpha-beta-peer-reviews). 

There are also other types of assurance you can use in DfE to support your work, including [design crits](/service-assurance/design-crits), a [crit or 2i](https://design.education.gov.uk/content-design/types-of-content-we-publish/reviewing-and-checking-content) for any content you're producing or team RAG reviews in your portfolio. 