<div class="govuk-panel govuk-panel--confirmation">
    <h1 class="govuk-panel__title"> Book a discovery peer review</h1>
  </div>

  <h2 class="govuk-heading-l">Your next steps</h2>

  <p class="govuk-body">
    <a href="/book" class="govuk-link">Book a peer review</a>
  </p>


The GOV.UK [Service Standard](https://apply-the-service-standard.education.gov.uk/service-standard) can help you build accessible, usable services and guidance. 

You should consider the [Service Standard points for discoveries](/service-assurance/prepare-for-discovery-peer-review) for your project. 

Once you've considered the standards, [book a discovery peer review](/service-assurance/discovery-peer-review) to get end of phase feedback and recommendations. 