<div class="govuk-panel govuk-panel--confirmation">
    <h1 class="govuk-panel__title"> Book a discovery peer review</h1>
  </div>


 <h2 class="govuk-heading-l">Your next steps</h2>

 <p class="govuk-body">
    <a href="/book" class="govuk-link">Book a peer review.</a>
  </p>


Continue to work to the [Service Standard](https://apply-the-service-standard.education.gov.uk/service-standard).

Include [crits and 2is](https://design.education.gov.uk/content-design/types-of-content-we-publish/reviewing-and-checking-content) for any content you’re producing.

Consider running a show and tell to share your work with stakeholders and other portfolios.

[Book a discovery peer review](/service-assurance/discovery-peer-review) for the end of phase.