{% extends "layouts/content-with-sidenav.html" %}

{% set pageName = "Make new source code open" %}
{% set pageDescription = "This guidance will help you apply point 12 of the Service Standard in the Department for Education" %}
{% set pageDescriptionPageOverride = "This guidance will help you apply  <a href='https://www.gov.uk/service-manual/service-standard/point-12-make-new-source-code-open' rel='noopener noreferrer'>standard point 12</a>." %}
{% set selectedNav = "Service Standard" %}
{% set lastUpdated = "May 2024"%}
{% set backlog_issue_id = "" %}
{% set point = "12" %}

{% block beforeContent %}{% endblock %}

{% block heroExtra %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <p>Everyone is responsible for meeting the Service Standard. This standard point is most relevant to:</p>

      <strong class="govuk-tag">Architects</strong>
      <strong class="govuk-tag">Developers</strong>
    </div>

  </div>

  {% endblock%}

  {% block content %}

{% markdown %}

## Summary

Teams should aim to make all new source code open and reusable, and publish it under <a href='https://technical-guidance.education.gov.uk/standards/licencing-software-or-code/' rel="noopner noreferrer">appropriate licences</a>. DfE specific guidance of how to meet this standard can be found in <a href='https://technical-guidance.education.gov.uk/standards/storing-source-code/' rel="noopner noreferrer">DfE Technical Guidance</a>.

## Why it's important 

Public services are built with public money. Unless there's a good reason not to the code they're based on, should be made available for other people to reuse and build on.

Open source code can save teams duplicating effort and help them build better services faster. Publishing source code under an open licence means that you're less likely to get locked into working with a single supplier.

Coding in the open is a good way to encourage high quality and <a href="https://www.gov.uk/government/publications/open-source-guidance/security-considerations-when-coding-in-the-open" rel="noopner noreferrer">secure coding</a> in development teams. 

There may be times when code should not be published in the open. For example, secrets, keys or sensitive information should not be published to public repositories. DfE has guidance on <a href="https://technical-guidance.education.gov.uk/infrastructure/security/managing-secrets/#content" rel="noopner noreferrer" >managing secrets</a> and closed code. 


## How to meet this standard in every phase

You'll be assessed on what you've done to meet this standard at <a href='/service-assessments/'>service assessments</a>. However, even if the service you're working on is not being assessed, it's good practice to consider how you'll meet this standard point.

#### Things to consider:

- Any code being produced should be <a href="https://technical-guidance.education.gov.uk/standards/storing-source-code/" rel="noopner noreferrer">open by default</a>. If at any point the code was not publicly available, the team will be asked why, and without good reason, could fail an assessment. 

## How to meet this standard in a secure way 
### Use GitHub

The recommended tooling for meeting this standard is GitHub, as repositories in GitHub are open by default. There is a DfE organisation set up at <a href="https://github.com/DFE-Digital">DfE-Digital</a> which is publicly available. 

It is important not commit secrets to code. If you have some information that must be secret, for example, passwords, you can use <a href="https://technical-guidance.education.gov.uk/infrastructure/security/managing-secrets/#access-secrets-from-github-actions" rel="noopner noreferrer">github secrets</a>. 

Join DfE-Digital to create a repository for a new service by contacting the DfE Slack channel <a href="https://ukgovernmentdfe.slack.com/archives/CMS9V0JQL" target="_blank">#digital-tools-support</a>.

<a href="https://github.com/DFE-Digital/find-a-tuition-partner"  rel="noopner noreferrer">Find a Tuition Partner</a> is an example of a GitHub repo in DfE.

 ## Profession specific guidance

Each DDaT profession in DfE has their own community and guidance.

<p class="govuk-body-l govuk-!-font-weight-bold">
      <a class="govuk-link" href="https://dfe-digital.github.io/architecture/#dfe-architecture">Architecture</a>
    </p>
    <p class="govuk-body-l govuk-!-font-weight-bold">
      <a class="govuk-link" href="https://technical-guidance.education.gov.uk/">Technical Guidance</a>
    </p>

    {% endmarkdown %}

  {% endblock %}