
{% extends "layouts/content-with-sidenav.html" %}

{% set pageName = "Use and contribute to open standards, common components and patterns" %}
{% set pageDescription = "This guidance will help you apply point 13 of the Service Standard in the Department for Education" %}
{% set pageDescriptionPageOverride = "This guidance will help you apply  <a href='https://www.gov.uk/service-manual/service-standard/point-13-use-common-standards-components-patterns' rel='noopener noreferrer'>standard point 13 </a>." %}
{% set selectedNav = "Service Standard" %}
{% set lastUpdated = "May 2024"%}
{% set backlog_issue_id = "" %}
{% set point = "13" %}

{% block beforeContent %}{% endblock %}

{% block heroExtra %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <p>Everyone is responsible for meeting the Service Standard. This standard point is most relevant to:</p>

        <strong class="govuk-tag">Architects</strong>
        <strong class="govuk-tag">Product Managers</strong>
        <strong class="govuk-tag">Developers</strong> 
        <strong class="govuk-tag">Content Designers</strong>
        <strong class="govuk-tag">Interaction Designers</strong>
        <strong class="govuk-tag">Service Designers</strong>
    </div>

  </div>

  {% endblock%}

  {% block content %}

{% markdown %}

## Summary

Use open standards, common components and patterns, and create new ones if there is not one that already meets your needs.

## Why it's important 

<a href='https://www.gov.uk/government/publications/open-standards-principles/open-standards-principles#Defining-open-standards' rel="noopner noreferrer">Open standards</a> saves money and makes use of best practice.

Using common components, patterns and technology stacks means you don't have to solve problems that've already been solved. By using a component, pattern or stack that's already been assured and extensively tested, you can provide users with a good experience in a cost effective way. It also speeds up delivery and reduces risk.

We encourage teams to develop components and patterns that meet a shared need, it's important to share them so that others can benefit from your work.

## How to meet this standard in every phase

You'll be assessed on what you've done to meet this standard at <a href='/service-assessments/'>service assessments</a>. However, even if the service you are working on is not being assessed, it's good practice to consider how you'll meet this standard point.

#### Things to consider:

- teams have reached out to other teams and similar services to consider possible patterns, <a href='https://dfe-digital.github.io/architecture/common-components/#common-components' rel="noopner noreferrer">architecture components</a> and tools 
- <a href='https://dfe-digital.github.io/architecture/common-components/#common-tooling' rel="noopner noreferrer">open source tools</a> and frameworks have been chosen or considered as the basis for the service components
- using <a href='https://design-system.service.gov.uk/'  rel="noopner noreferrer">GOV.UK Design System</a> common components and patterns
- evidence of a <a href="https://design-histories.education.gov.uk/">design history </a> to keep track of design decisions, options explored and rationale for choices made 
- recording <a href="https://dfe-digital.github.io/architecture/standards/architecture-documentation/#architecture-documentation">architecture decision records</a> to track decisions and rationale
- how to share and encourage use of <a href="https://design.education.gov.uk/design-system/dfe-frontend/contribute">new and existing design patterns </a> and <a href="https://dfe-digital.github.io/architecture/common-components/#common-components">architecture components </a>within the wider DfE service community

## Profession specific guidance

Each DDaT profession in DfE has their own community and guidance.

<p class="govuk-body-l govuk-!-font-weight-bold">
      <a class="govuk-link" href="https://dfe-digital.github.io/architecture/#dfe-architecture">Architecture</a>
    </p>
    <p class="govuk-body-l govuk-!-font-weight-bold">
      <a class="govuk-link" href="https://technical-guidance.education.gov.uk/">Technical Guidance</a>
    </p>
        <p class="govuk-body-l govuk-!-font-weight-bold">
      <a class="govuk-link" href="https://design.education.gov.uk/">Design Manual</a>
    </p>
  

  {% endmarkdown %}

{% endblock %}