{% extends "layouts/content-with-sidenav.html" %}

{% set pageName = "Use agile ways of working" %}
{% set pageDescription = "This guidance will help you apply point 7 of the Service Standard in the Department for Education" %}
{% set pageDescriptionPageOverride = "This guidance will help you apply  <a href='https://www.gov.uk/service-manual/service-standard/point-7-use-agile-ways-of-working' rel='noopener noreferrer'>standard point 7</a>." %}
{% set selectedNav = "Service Standard" %}
{% set lastUpdated = "May 2024"%}
{% set backlog_issue_id = "" %}
{% set point = "7" %}

{% block beforeContent %}{% endblock %}

{% block heroExtra %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <p>Everyone is responsible for meeting the Service Standard. This standard point is most relevant to:</p>
      
      <strong class="govuk-tag">Delivery Managers</strong> <strong class="govuk-tag">Product Managers</strong>
    </div>

  </div>

  {% endblock%}

  {% block content %}

    {% markdown %}

## Summary
<a href="https://www.gov.uk/service-manual/agile-delivery/agile-government-services-introduction#:~:text=Agile%20methods%20encourage%20teams%20to,feedback%20and%20other%20useful%20data" rel="noopner noreferrer">Agile</a> is a way of working that encourages teams to build quickly, test what they've built and iterate their work based on regular feedback and other useful data. 

Use  <a href="https://www.gov.uk/service-manual/agile-delivery/core-principles-agile" rel="noopner noreferrer">agile principles</a> and tools (for example, Trello, Lucid and Jira) and have processes in place that follow the <a href="https://www.gov.uk/service-manual/agile-delivery/governance-principles-for-agile-service-delivery" rel="noopner noreferrer">governance principles for service delivery</a>. 

## Why it's important 

By getting your service in front of real users as soon as possible you can get insights on how they use it and iterate based on what you learn.

Working this way means you're not specifying everything up front before you've developed an understanding of what users need, you will reduce the risk of delivering the wrong thing.

## How to meet this standard in every phase

You'll be assessed on what you've done to meet this standard at <a href='/service-assessments/'>service assessments</a>. However, even if the service you're working on is not being assessed, it's good practice to consider how you'll meet this standard point.

#### Things to consider:

- how the team <a href="https://www.gov.uk/service-manual/agile-delivery" rel="noopner noreferrer">use agile ways of working</a>, tools and techniques 
- changes to the service are based on user research feedback and testing. The <a href="https://design-histories.education.gov.uk/team/children-and-families">children and families design history</a> documents how they've done this
- how the team will prioritise riskiest assumptions
- evidence of decision making with senior stakeholders that allow the team to adapt and change
- evidence that governance is being managed with measurable goals 
- the team has all the skills it needs at each phase of the agile lifecycle

  
## Profession specific guidance

Each DDaT profession in DfE has their own community and guidance.


<p class="govuk-body-l govuk-!-font-weight-bold">
   <a class="govuk-link" href="https://user-research.education.gov.uk/" >User Research Manual</a>
</p>
<p class="govuk-body-l govuk-!-font-weight-bold">
   <a class="govuk-link" href="https://design.education.gov.uk/" >Design Manual</a>
</p>
<p class="govuk-body-l govuk-!-font-weight-bold">
   <a class="govuk-link" href="https://dfe-digital.github.io/architecture/#dfe-architecture" >Architecture</a>
</p>
<p class="govuk-body-l govuk-!-font-weight-bold">
   <a class="govuk-link" href="https://technical-guidance.education.gov.uk/" >Technical Guidance</a>
</p>
  {% endmarkdown %}

{% endblock %}