{% extends "layouts/content-with-sidenav.html" %}

{% set pageName = "Iterate and improve frequently" %}
{% set pageDescription = "This guidance will help you apply point 8 of the Service Standard in the Department for Education" %}
{% set pageDescriptionPageOverride = "This guidance will help you apply  <a href='https://www.gov.uk/service-manual/service-standard/point-8-iterate-and-improve-frequently' rel='noopener noreferrer'>standard point 8</a>." %}
{% set selectedNav = "Service Standard" %}
{% set lastUpdated = "August 2024"%}
{% set backlog_issue_id = "" %}
{% set point = "8" %}

{% block beforeContent %}{% endblock %}

{% block heroExtra %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <p>Everyone is responsible for meeting the Service Standard. This standard point is most relevant to:</p>
      
      <strong class="govuk-tag">Delivery Managers</strong> <strong class="govuk-tag">Product Managers</strong> <strong class="govuk-tag">Service Designers</strong><strong class="govuk-tag">User Researchers</strong>
    </div>

  </div>

  {% endblock%}

  {% block content %}

    {% markdown %}

## Summary
Make sure you have the capacity, people and technical flexibility to iterate and improve the service frequently, focusing on improvements that deliver the most value.

## Why it's important 

Services are never 'finished'. Once you've got real people using your service, you need to iterate and improve it.

This means more than doing basic maintenance, like fixing bugs in code or deploying security patches. It means responding to feedback and changes in user needs and behaviour, technology and DfE policy. It also means being able to make <a href="https://www.gov.uk/service-manual/agile-delivery/running-your-service-in-a-sustainable-way">substantial improvements</a> through the service's lifetime.

## How to meet this standard in every phase

You'll be assessed on what you've done to meet this standard at <a href='/service-assessments/'>service assessments</a>. However, even if the service you're working on is not being assessed, it's good practice to consider how you'll meet this standard point.

#### Things to consider:

- continued research and iteration based on feedback, data and metrics. <a href="https://bat-design-history.netlify.app/find-teacher-training/making-the-service-more-browseable/" rel="noopner noreferrer">Becoming a teacher design history</a> documents how they've done this
- a process to review content and check that it's up-to-date and reflects current policy, or is retired
- where team priorities lie and which improvements will deliver the most value
- methods to iterate and improve design when there are time constraints
- how the team will work together to prioritise a backlog
- how the team will <a href="https://www.gov.uk/service-manual/technology/deploying-software-regularly">deploy software regularly</a>
- having the right people in the team to keep improving the service

  
## Profession specific guidance

Each DDaT profession in DfE has their own community and guidance.


<p class="govuk-body-l govuk-!-font-weight-bold">
   <a class="govuk-link" href="https://user-research.education.gov.uk/">User Research Manual</a>
</p>
<p class="govuk-body-l govuk-!-font-weight-bold">
   <a class="govuk-link" href="https://design.education.gov.uk/">Design Manual</a>
</p>
<p class="govuk-body-l govuk-!-font-weight-bold">
   <a class="govuk-link" href="https://dfe-digital.github.io/architecture/#dfe-architecture">Architecture</a>
</p>
<p class="govuk-body-l govuk-!-font-weight-bold">
   <a class="govuk-link" href="https://technical-guidance.education.gov.uk/">Technical Guidance</a>
</p>
  {% endmarkdown %}

{% endblock %}