{% extends "layouts/content-full-width.html" %}

{% set selectedNav = "Service Standard" %}
{% set pageName = "The Service Standard" %}
{% set seoPageName = "The 14 point Service Standard" %}
{% set pageDescription = "Guidance and information for how to apply the GOV.UK Service Standard to design and build accessible, usable and understandable services in the Department for Education."%}
{% set selectedNav = "Service Standard" %}

{% set standards = [
  {
    number: "1",
    name: "Understand users and their needs",
    url: "/service-standard/1-understand-user-needs"
  },{
    number: "2",
    name: "Solve a whole problem for users",
    url: "/service-standard/2-solve-a-whole-problem"
  },{
    number: "3",
    name: "Provide a joined up experience across all channels",
    url: "/service-standard/3-join-up-across-channels"
  },{
    number: "4",
    name: "Make the service simple to use",
    url: "/service-standard/4-make-the-service-simple-to-use"
  },{
    number: "5",
    name: "Make sure everyone can use the service",
    url: "/service-standard/5-make-sure-everyone-can-use-the-service"
  },{
    number: "6",
    name: "Have a multidisciplinary team",
    url: "/service-standard/6-have-a-multidisciplinary-team"
  },{
    number: "7",
    name: "Use agile ways of working",
    url: "/service-standard/7-use-agile-ways-of-working"
  },{
    number: "8",
    name: "Iterate and improve frequently",
    url: "/service-standard/8-iterate-and-improve-frequently"
  },{
    number: "9",
    name: "Create a secure service which protects users’ privacy",
    url: "/service-standard/9-create-a-secure-service"
  },{
    number: "10",
    name: "Define what success looks like and publish performance data",
    url: "/service-standard/10-define-success-publish-performance-data"
  },{
    number: "11",
    name: "Choose the right tools and technology",
    url: "/service-standard/11-choose-the-right-tools-and-technology"
  },{
    number: "12",
    name: "Make new source code open",
    url: "/service-standard/12-make-new-source-code-open"
  },{
    number: "13",
    name: "Use and contribute to open standards, common components and patterns",
    url: "/service-standard/13-use-common-standards-components-patterns"
  },{
    number: "14",
    name: "Operate a reliable service",
    url: "/service-standard/14-operate-a-reliable-service"
  }
] %}

{% block hero %}

  <section class="dfe-hero">
    <div class="dfe-width-container ">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-xl">The Service Standard</h1>
          <p class="govuk-body-l govuk-!-margin-bottom-0">Understand how to apply the Service Standard in the Department for Education.</p>
        </div>
      </div>
    </div>
  </section>

{% endblock %}

{% block content %}

  <section class="govuk-!-margin-bottom-9">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h2 class="govuk-heading-l">14 Service Standard points</h2>

        <ol class="govuk-list dfe-list--bordered">
          {% for standard in standards%}

            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="{{standard.url}}">
                <span class="dfe-list--number">{{standard.number}}</span>. {{standard.name}}</a>
            </li>
          {% endfor %}
        </ol>

      </div>
      <div class="govuk-grid-column-one-third">

        <div class="dfe-grid-container">

          <div class="dfe-card">
            <picture>
              <source srcset="/assets/images/download.webp" type="image/webp">
              <img src="/assets/images/download.png" alt="">
            </picture>
            <div class="dfe-card-container">

              <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/assets/files/standard-points-guidance-v01-dec-2022.xlsx">
                <span class="govuk-visually-hidden">Download all guidance</span></a>

              <p>
                  All the guidance for each of the Service Standard points.</p>
              <p class="govuk-body-s">Excel - 98kb<br/>Last updated: 1 December 2022</p>
            </div>
          </div>

        </div>

        <h2 class="govuk-heading-m govuk-!-margin-top-5">Other resources and guidance</h2>

        <ul class="govuk-list govuk-list--spaced">
          <li>
            <a href="https://design.education.gov.uk/" target="_blank">Design Manual</a>
          </li>
          <li>
            <a href="https://user-research.education.gov.uk/" target="_blank">User Research Manual</a>
          </li>
          <li>
            <a href="https://technical-guidance.education.gov.uk/" target="_blank">Technical Guidance</a>
          </li>
          <li>
            <a href="https://dfe-digital.github.io/architecture/#dfe-architecture" target="_blank">Architecture</a>
          </li>
          <li>
            <a href="https://design-system.service.gov.uk/" target="_blank">GOV.UK Design System</a>
          </li>
          <li>
            <a href="https://www.gov.uk/service-manual" target="_blank">GOV.UK Service Manual</a>
          </li>

        </ul>

      </div>
    </div>
  </section>

{% endblock %}