{% extends "layouts/full.html" %}

{% set selectedNav = "Phases" %}
{% set pageName = "Discovery" %}
{% set seoPageName = "Discovery" %}
{% set pageDescription = "Guidance for running a good discovery phase."%}

{% block hero %}
    <section class="dfe-page-header">
        <div class="dfe-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    <h1 class="govuk-heading-xl govuk-!-margin-top-5">Discovery</h1>
                    <p class="govuk-body-l">Guidance for running a good discovery phase.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}

    <div class="dfe-width-container ">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third sticky">

                <nav class="dfe-vertical-nav">
                    <ul class="dfe-vertical-nav__section">

                        <li class="dfe-vertical-nav__section-item dfe-vertical-nav__section-item--current">
                            <a class="dfe-vertical-nav__link" href="/phases">Phases</a>
                        </li>

                    </ul>
                    <h2 class="dfe-vertical-nav--section-header">Content</h2>
                    <ul class="dfe-vertical-nav__section">
                        <li class="dfe-vertical-nav__section-item">
                            <a class="dfe-vertical-nav__link" href="#create-the-right-team-for-success">Create the right team for success</a>
                        </li>
                        <li class="dfe-vertical-nav__section-item">
                            <a class="dfe-vertical-nav__link" href="#understanding-user-needs">Understanding user needs</a>
                        </li>
                        <li class="dfe-vertical-nav__section-item">
                            <a class="dfe-vertical-nav__link" href="#define-the-problem">Define the problem</a>
                        </li>
                        <li class="dfe-vertical-nav__section-item">
                            <a class="dfe-vertical-nav__link" href="#stakeholder-engagement">Stakeholder engagement</a>
                        </li>
                        <li class="dfe-vertical-nav__section-item">
                            <a class="dfe-vertical-nav__link" href="#define-success">Define success</a>
                        </li>
                        <li class="dfe-vertical-nav__section-item">
                            <a class="dfe-vertical-nav__link" href="#explore-solutions">Explore solutions</a>
                        </li>
                        <li class="dfe-vertical-nav__section-item">
                            <a class="dfe-vertical-nav__link" href="#technical-feasibility">Technical feasibility</a>
                        </li>
                        <li class="dfe-vertical-nav__section-item">
                            <a class="dfe-vertical-nav__link" href="#identify-risks">Identify risks</a>
                        </li>
                        <li class="dfe-vertical-nav__section-item">
                            <a class="dfe-vertical-nav__link" href="#document-as-you-go">Document as you go</a>
                        </li>
                        <li class="dfe-vertical-nav__section-item">
                            <a class="dfe-vertical-nav__link" href="#peer-review">Peer review</a>
                        </li>
                        <li class="dfe-vertical-nav__section-item">
                            <a class="dfe-vertical-nav__link" href="#decide-what-to-do-next">Decide what to do next</a>
                        </li>
                    </ul>
                </nav>

            </div>
            <div class="govuk-grid-column-two-thirds">

                <p>A good discovery phase is the foundation for building a successful service. It's where you gather the insights and understanding necessary to ensure the service meets user needs and achieves its intended policy intent.</p>

                <p>A service enables someone to achieve an outcome or complete a task, and at this point, it might not be a digital product or website.</p>

                <h2 class="govuk-heading-l" id="create-the-right-team-for-success">Create the right team for success</h2>

                <p>A discovery team needs the right mix of skills for this phase. This should include user researchers, service designers, business analysts, content designers and subject-matter experts. </p>

                <p>Having a multidisciplinary team ensures that all aspects of the problem the service is trying to solve, are considered from the outset, and the scope can be clearly defined and understood.</p>

                <div class="govuk-inset-text">
                    <a href="https://www.gov.uk/service-manual/the-team/set-up-a-service-team" target="_blank" rel="noopener noreferrer">Set up a service team<span class="govuk-visually-hidden"> (opens in a new tab)</span></a>
                </div>

                <p>Use <a href="https://www.gov.uk/service-manual/agile-delivery/core-principles-agile" target="_blank" rel="noopener noreferrer">agile working practices<span class="govuk-visually-hidden"> (opens in a new tab)</span></a> during discovery. This approach helps the team to work flexibly and to adapt quickly to new insights or changing requirements. This will also set the team up to work well in future phases when other roles, such as developers and interaction designers, might join the team.</p>

                <h2 class="govuk-heading-l" id="understanding-user-needs">Understanding user needs</h2>

                <p>In this phase, you'll need to start to understand who the people are that will be using the service. </p>

                <p>This means conducting user research through interviews, surveys, and by observing how users currently interact with similar services. The aim is to get a thorough understanding of what users need, the problems they face, and how they behave.</p>

                <div class="govuk-inset-text">
                    Ensure you follow DfE's <a href="https://user-research.education.gov.uk/standards"  target="_blank" rel="noopener noreferrer">user research standards<span class="govuk-visually-hidden"> (opens in a new tab)</span>.</a>
                </div>

                <p>Based on the research you should be able to confidently demonstrate who the user groups are of the service. Involving the team in user research will help ensure that everyone on the team keeps the real users in mind as you work on the service.</p>

                <div class="govuk-inset-text">

                    <a href="https://www.myddelton.co.uk/blog/user-research-is-a-team-sport" target="_blank" rel="noopener noreferrer">User research is a team sport<span class="govuk-visually-hidden"> (opens in a new tab)</span>.</a>

                </div>

                <h2 class="govuk-heading-l" id="define-the-problem">Define the problem</h2>

                <p>It's important to clearly define the problem or opportunity that the service is aiming to address. This means writing a problem statement that explains what you're trying to solve or improve. </p>

                <p>A clear problem statement helps guide the development of the service.</p>

                <div class="govuk-inset-text">

                    <a href="https://becoming-a-teacher.design-history.education.gov.uk/manage-school-placements/defining-our-problem-statements/" target="_blank" rel="noopener noreferrer">Example of a good problem statement<span class="govuk-visually-hidden"> (opens in a new tab)</span>.</a>

                </div>

                <p>Additionally, understand the context in which the service will operate. This includes considering any existing services, policies, and constraints that might impact the service.</p>

                <p>By using existing research, performance data, and talking to other teams in the DfE, you can make sure you're not repeating work that's already been done. This can help you find useful information, avoid mistakes, and build on what's already working well.</p>

  <div class="govuk-inset-text">

                    Read the blog post on DfE Digital about <a href="https://dfedigital.blog.gov.uk/2023/12/20/desk-research-in-discovery/" target="_blank" rel="noopener noreferrer">desk research in discovery<span class="govuk-visually-hidden"> (opens in a new tab)</span>.</a>

                </div>
                

                <p>It's also a good idea to reach out to <a href="https://educationgovuk.sharepoint.com/sites/lvewp00038/SitePages/DDaT-Business-Partners.aspx" target="_blank" rel="noopener noreferrer">business partners (DfE intranet)<span class="govuk-visually-hidden"> (opens in a new tab)</span></a> and teams in similar areas. They might offer valuable insights, help you understand the challenges you could face, and suggest ways to work together.</p>

                <h2 class="govuk-heading-l" id="stakeholder-engagement">Stakeholder engagement</h2>

                <p>Identify stakeholders who have an interest in the service. This includes internal teams, external partners, and any regulatory bodies, for example, local authorities. </p>

                <p>Create a stakeholder map to show how stakeholders interact with, or influence the service.</p>

                <div class="govuk-inset-text">

                    <a href="https://lucidspark.com/blog/a-guide-to-stakeholder-mapping" target="_blank" rel="noopener noreferrer">A quick and dirty guide to stakeholder mapping<span class="govuk-visually-hidden"> (opens in a new tab)</span>.</a>

                </div>

                <p>Engage with them early in the process to understand their needs and any constraints they might have.</p>

                <p>Create a communications plan for keeping stakeholders informed and involved throughout the project. Regular and relevant updates ensure that everyone is on the same page and that the service is aligned with broader goals and requirements</p>

                <div class="govuk-inset-text">
        Writing a good comms plan.
    </div>

                <h2 class="govuk-heading-l" id="define-success">Define success</h2>

                <p>You'll create a definition of what success looks like for the discovery phase. This should include both quantitative measures, such as specific research outcomes, and qualitative indicators, like user satisfaction, or conversion rates.</p>

                <div class="govuk-inset-text">

                    <a href="https://www.gov.uk/service-manual/measuring-success/how-to-set-performance-metrics-for-your-service" target="_blank" rel="noopener noreferrer">Good success criteria<span class="govuk-visually-hidden"> (opens in a new tab)</span>.</a>

                </div>

                <p>Having clear success criteria helps to keep the team focused on the right goals and mitigate scope creep. </p>

                <p>Align with department standards, and the <a href="/">Government Service Standard</a> early on. This ensures that the service will meet the necessary quality and accessibility requirements as it evolves.</p>

                <h2 class="govuk-heading-l" id="explore-solutions">Explore solutions</h2>

                <p>During discovery, it's important to explore a range of ideas and possible solutions to the problem you've identified. This is not the time to decide on one solution but to think broadly about what could work. </p>

                <div class="govuk-inset-text dfe-inset-text--warning">
                    <p class="govuk-!-font-weight-bold">
            You should not be building prototypes or testing ideas at this stage.
        </p>
                </div>

                <p>Encourage the team to come up with different ideas and approaches. Co-creation of ideas with stakeholders and subject-matter experts will provide a diverse range of views on what could work and what to reject. This can also help identify solutions and options you may not have thought about as a team.</p>

                <p>This practice of inclusive design will help ensure that the service is accessible and usable by everyone who needs it.</p>

                <p>Use the data and insights gathered from your research to evaluate these ideas. The goal is to narrow down the options to the ones that could be tested further in the alpha phase.</p>

                <h2 class="govuk-heading-l" id="technical-feasibility">Technical feasibility</h2>

                <p>Once you have some ideas of what you might do in the next phase, you need to understand the technical feasibility of your service.</p>

                <p>This involves looking at whether existing technology can support the service or if new development is required. Understanding the technical feasibility early on prevents creating technical debt later, making wrong technical decisions and wasting time, money, and effort.</p>

                <div class="govuk-inset-text">
                  The 
            <a href="https://dfe-digital.github.io/architecture/#dfe-architecture" target="_blank" rel="noopener noreferrer">architecture manual<span class="govuk-visually-hidden"> (opens in a new tab)</span></a> and the <a href="https://technical-guidance.education.gov.uk/" target="_blank" rel="noopener noreferrer">technical manual<span class="govuk-visually-hidden"> (opens in a new tab)</span></a> have guidance for making good technical decisions.
                </div>

                <p>Think about what it will take to deliver and maintain the service from an operational perspective. This includes whether the department has the necessary skills, people, and processes in place to support the service. </p>

                <h2 class="govuk-heading-l" id="identify-risks">Identify risks</h2>

                <p>It's important to identify potential risks as early as possible. This includes technical risks, operational risks, and risks related to user needs. </p>

                <p>By identifying risks early, you can develop strategies to mitigate them, reducing the chances of issues later.</p>

                <div class="govuk-inset-text">

                    <a href="https://www.gov.uk/guidance/the-technology-code-of-practice#security" target="_blank" rel="noopener noreferrer">Follow the Tech Code of Practice<span class="govuk-visually-hidden"> (opens in a new tab)</span>.</a>

                </div>

                <p>You should start to draft a  <a href="https://educationgovuk.sharepoint.com/sites/lvewp00158/SitePages/DPIA.aspx" target="_blank" rel="noopener noreferrer">data protection impact assessment (DPIA) (DfE intranet) <span class="govuk-visually-hidden"> (opens in a new tab)</span></a> if you believe your service will be handling or processing personal information from users. </p>

                <h2 class="govuk-heading-l" id="document-as-you-go">Document as you go</h2>

                <p>Keep clear and concise documentation of all the research and insights from the phase. This should include details on user needs, the problem statement, possible solutions, and any identified risks. </p>

                <div class="govuk-inset-text">
                Create a living deck.
                </div>

                <p>Good documentation ensures that the insights gathered during discovery can support the project if it moves forward. It also helps other teams who may be working in a similar scope, gain new insights and learn from your work.</p>

                <div class="govuk-inset-text">
              
            Share your work through <a href="https://alaniswright.com/blog/running-effective-show-tells/" target="_blank" rel="noopener noreferrer">show and tells<span class="govuk-visually-hidden"> (opens in a new tab)</span></a> and <a href="https://design-histories.education.gov.uk/" target="_blank" rel="noopener noreferrer">design histories<span class="govuk-visually-hidden"> (opens in a new tab)</span>.</a>.
    
                </div>

                <h2 class="govuk-heading-l" id="peer-review">Peer review</h2>

                <p>Have a discovery peer review . Use your living deck as the basis for talking about your discovery. </p>

                <p>Show your working artefacts such as lucid boards, snippets from research sessions, the needs and insights you've found.</p>

                <div class="govuk-inset-text">

                    <a href="/service-assessments/discovery-peer-review">Prepare for a disco peer review</a>
      and 
            <a href="https://service-assessments.education.gov.uk/book" target="_blank" rel="noopener noreferrer">book a peer review<span class="govuk-visually-hidden"> (opens in a new tab)</span>.</a>

                </div>

                <p>Use the service assessment service to <a href="https://service-assessments.education.gov.uk/reports" target="_blank" rel="noopener noreferrer">view completed discoveries<span class="govuk-visually-hidden"> (opens in a new tab)</span></a> and the published reports of the peer reviews.</p>

                <h2 class="govuk-heading-l" id="decide-what-to-do-next">Decide what to do next</h2>

                <p>As you near the end of your discovery you will have a decision to make. Continue to the alpha phase, run another discovery, or stop.</p>

                <p>This decision should be based on the insights and evidence gathered during discovery and a clear understanding of whether the project is ready to progress.</p>

                <h3 id="continue-to-alpha">Continue to alpha</h3>

                <p>If your discovery has resulted in a strong understanding of user needs, identified a problem to solve, and generated some ideas for solutions, you may decide to move forward to the             <a href="/phase/alpha">alpha phase</a>.</p>

                <p>This means you have enough confidence in the potential success of the service to begin prototyping and testing ideas with users.</p>

                <p>Have you:</p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>validated user needs</li>
                    <li>a list of feasible solutions</li>
                    <li>stakeholder support</li>
                    <li>identified risks</li>
                    <li>aligned to department objectives</li>
                    <li>understood the policy intent</li>
                </ul>

                <h3 id="run-another-discovery">Run another discovery</h3>

                <p>In some cases, the discovery might not provide enough clarity or confidence to continue. </p>

                <p>If significant gaps remain in your understanding of user needs, the problem isn’t well-defined, or the solutions seem unworkable, you may need to run another discovery.</p>

                <p>This may be due to:</p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>unclear user need</li>
                    <li>problem isn't well defined</li>
                    <li>stakeholder concerns or lack of buy in</li>
                    <li>high-risk areas or issues</li>
                    <li>a different need or problem is identified</li>
                </ul>

                <h3 id="stop">Stop</h3>

                <p>Sometimes, the best outcome for a discovery is to stop the project. </p>

                <p>This decision might be necessary if the discovery phase reveals that the service isn’t needed, if the problems identified cannot be solved, or if the time, cost, or effort required to proceed are not justified.</p>

                <p>This may be due to:</p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>no clear user needs</li>
                    <li>solutions are technically unfeasible</li>
                    <li>not aligned to department objectives or policy intent</li>
                    <li>high, unmanageable risks</li>
                </ul>

            </div>

        </div>
    </div>

{% endblock %}

{% block scripts %}

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const sections = document.querySelectorAll("h2[id], h3[id]");
            const navItems = document.querySelectorAll(".dfe-vertical-nav__section-item");

            function onScroll() {
                let currentSectionId = "";

                sections.forEach((section, index) => {
                    const sectionTop = section
                        .getBoundingClientRect()
                        .top;
                    const sectionId = section.getAttribute("id");

                    if (sectionTop <= window.innerHeight / 2) {
                        currentSectionId = sectionId;
                    }

                    // If it's the last section, ensure it's marked as active when scrolled past
                    if (index === sections.length - 1) {
                        if (section.getBoundingClientRect().bottom <= window.innerHeight) {
                            currentSectionId = sectionId;
                        }
                    }
                });

                if (!currentSectionId) {
                    currentSectionId = sections[0].getAttribute("id");
                }

                // Add or remove the active class based on the current section in view
                navItems.forEach(item => {
                    const link = item.querySelector("a");
                    const href = link
                        .getAttribute("href")
                        .substring(1); // Get the ID without the '#'

                    if (href === currentSectionId) {
                        item
                            .classList
                            .add("dfe-vertical-nav__section-item--current");
                    } else {
                        item
                            .classList
                            .remove("dfe-vertical-nav__section-item--current");
                    }
                });
            }

            window.addEventListener("scroll", onScroll);
            onScroll(); // Run the function initially to highlight the correct nav item on page load
        });
    </script>
{% endblock %}