{% extends "layouts/homepage.html" %}

{% set selectedNav = "" %}
{% set pageName = "First year of Apply the Service Standard in numbers" %}
{% set seoPageName = "First year of Apply the Service Standard in the Department for Education in numbers" %}
{% set pageDescription = "Information about why we built this service and how it's been used in the first year."%}
{% set selectedNav = "Home" %}

{% block hero %}

  <section class="dfe-hero">
    <div class="dfe-width-container ">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">First year of Apply the Service Standard in numbers</h1>
        </div>
      </div>
    </div>
  </section>

{% endblock %}

{% block content %}

  <section class="govuk-!-margin-bottom-9">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <h2 class="govuk-heading-l">Why we created this service</h2>
      </div>
      <div class="govuk-grid-column-three-quarters">
        <p>We had evidence that service teams were struggling to understand the Government Service Standard and how to apply it in the context of the Department for Education (DfE).</p>
        <p>We wrote a <a href="https://design-histories.education.gov.uk/apply-the-service-standard-in-dfe/introducing-apply-the-service-standard-in-the-department-for-education">design history post</a> which talks about the evidence, the problems and the user needs which we identified in early 2022.</p>
      </div>
    </div>
  </section>

  <section class="govuk-!-margin-bottom-9">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <h2 class="govuk-heading-l">Who was involved in creating the service</h2>
      </div>
      <div class="govuk-grid-column-three-quarters">
        <p>The service is built and maintained by the <a href="https://design.education.gov.uk/design-ops">Design Ops</a> team within DfE. A user-centred design and delivery team which supports the design professions in DfE with guidance, tools, support, and sets the standards for good design in the department.</p>
        <p>We worked with people from across the different professions in DfE to create the guidance in the service... [Kerry and Adam]</p>
      </div>
    </div>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  </section>

  <section class="govuk-!-margin-bottom-9">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <h2 class="govuk-heading-l">The year in numbers</h2>
      </div>
      <div class="govuk-grid-column-three-quarters">

        <div class="dfe-grid-container">

          <div class="dfe-card">
            <div class="dfe-card-container">
              <p class="govuk-!-font-size-48">40,000</p>
              <p class="govuk-body-s">Page views</p>
            </div>
          </div>

          <div class="dfe-card">
            <div class="dfe-card-container">
              <p class="govuk-!-font-size-48">5,500</p>
              <p class="govuk-body-s">Unique users</p>
            </div>
          </div>

          <div class="dfe-card">
            <div class="dfe-card-container">
              <p class="govuk-!-font-size-48">5,500</p>
              <p class="govuk-body-s">Unique users</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

{% endblock %}