{% extends "layouts/full.html" %}

{% set selectedNav = "" %}
{% set pageName = "First year of Apply the Service Standard in numbers" %}
{% set seoPageName = "First year of Apply the Service Standard in the Department for Education in numbers" %}
{% set pageDescription = "Information about why we built this service and how it's been used in the first year."%}
{% set selectedNav = "Home" %}
{% set zeroMainMargin = "true"%}
{% set og = "https://apply-the-service-standard.education.gov.uk/assets/images/first-og.png"%}

{% block hero %}

  <section class="dfe-hero">
    <div class="dfe-width-container ">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">First year of Apply the Service Standard in numbers</h1>
        </div>
      </div>
    </div>
  </section>

{% endblock %}

{% block content %}

  <section class="">

    <div class="dfe-panel govuk-!-padding-9" style="background: #f9f9f9;">

      <div class="dfe-width-container govuk-!-padding-6">

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <h2 class="govuk-heading-xl">Background</h2>
            <p class="govuk-body-l">Why we created this service.</p>
          </div>
          <div class="govuk-grid-column-two-thirds">

            <p>We had evidence that service teams were struggling to understand the <a href="https://www.gov.uk/service-manual/service-standard">Government Service Standard </a> and how to apply it in the context of the Department for Education (DfE).</p>
            <p>We wrote a <a href="https://design-histories.education.gov.uk/apply-the-service-standard-in-dfe/introducing-apply-the-service-standard-in-the-department-for-education">design history post</a> which talks about the evidence, the problems and the user needs which we identified in early 2022.</p>

            <h3 class="govuk-heading-l">Built with standards owners</h2>
            <p>The service is built and maintained by the <a href="https://design.education.gov.uk/design-ops">Design Ops</a> team. A user-centred design and delivery team which supports the design professions in DfE with guidance, tools, support, and sets the standards for good design in the department.</p>
       
<h3 class="govuk-heading-l">We collaborate</h2>     <p>We worked closely with people from across the different <a href="https://www.gov.uk/government/collections/digital-data-and-technology-profession-capability-framework">DDaT professions</a> in DfE to create the guidance in the service. We started with service team user needs identified in discovery, then pair wrote content for each standard. We ran content crits and workshops before running <a href="https://design-histories.education.gov.uk/apply-the-service-standard-in-dfe">5 rounds of user research</a>. </p>

            <p>We had regular check-ins with Heads of Profession (HoPs) as senior stakeholders and subject-matter experts to meet the standards. HoPs also support their own communities to meet the standards, and as a result of building Apply the Service Standard in DfE, the <a href="https://user-research.education.gov.uk/">user research</a> and <a href="https://design.education.gov.uk/">design communities</a> have now also built their own community space.</p>

            <p>We ran a workshop with DfE service assessors to consider how to apply the practical examples against the service standard.</p>

            <h3 class="govuk-heading-l">We work in the open</h2>
            <p>Working in the open, sharing at Show and Tells and speaking with colleagues across government, for example, at NHS Digital and the Ministry of Defence (MoD) helped us to bake trust and confidence into the service from the start.</p>
            <p>All the code and guidance for the service is <a href="https://github.com/DFE-Digital/apply-the-service-standard-in-dfe">published in the open</a> for anyone to reuse.</p>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="">

    <div class="dfe-panel govuk-!-padding-9" style="background: #fed740;">

      <div class="dfe-width-container govuk-!-padding-6">

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <h2 class="govuk-heading-xl">The year in numbers</h2>
            <p class="govuk-body-l">Some headline numbers of our visitors. </p>
          </div>
          <div class="govuk-grid-column-two-thirds">

            <div class="dfe-number-block">
              <span class="dfe-number-block-number">40,000</span>
              <span class="dfe-number-block-text">Page views</span>
            </div>

            <div class="dfe-number-block" style="background: #c82a85">
              <span class="dfe-number-block-number">5,500</span>
              <span class="dfe-number-block-text">Unique people have used the service</span>
            </div>

            <div class="dfe-number-block" style="background: #10152d">
              <span class="dfe-number-block-number">59</span>
              <span class="dfe-number-block-text">Coutries people have visited from</span>
            </div>

          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="">

    <div class="dfe-panel govuk-!-padding-top-9 " style="background: #81d4fa;">

      <div class="dfe-width-container govuk-!-padding-6">

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <h2 class="govuk-heading-xl">Locations</h2>
            <p class="govuk-body-l">Countries where people have visited the service from.</p>
          </div>
          <div class="govuk-grid-column-two-thirds">

            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
            <div id="regions_div"></div>

            <table class="govuk-!-margin-top-5">
                <thead>
                  <tr>
                    <th>Top 5 countries</th>
                    <th>Visits</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>United Kingdom</td>
                    <td>4112</td>
                  </tr>
                  <tr>
                    <td>United States</td>
                    <td>824</td>
                  </tr>
                  <tr>
                    <td>Germany</td>
                    <td>74</td>
                  </tr>
                  <tr>
                    <td>Canada</td>
                    <td>58</td>
                  </tr>
                  <tr>
                    <td>Singapore</td>
                    <td>49</td>
                  </tr>
                  </tbody>
                  </table>

          </div>
        </div>

      </div>
    </div>
  </section>

  {# <section class="govuk-!-margin-bottom-9">
         <div class="dfe-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <h2 class="govuk-heading-l">Visitor locations</h2>
          <p>We've seen people from all around the world visit the service.</p>
        </div>
        <div class="govuk-grid-column-three-quarters">
     

          <details class="govuk-details govuk-!-margin-top-9" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
      Data in table format
    </span>
            </summary>
            <div class="govuk-details__text">
              <table>
                <thead>
                  <tr>
                    <th>Country</th>
                    <th>Number</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>United Kingdom</td>
                    <td>4112</td>
                  </tr>
                  <tr>
                    <td>United States</td>
                    <td>824</td>
                  </tr>
                  <tr>
                    <td>Germany</td>
                    <td>74</td>
                  </tr>
                  <tr>
                    <td>Canada</td>
                    <td>58</td>
                  </tr>
                  <tr>
                    <td>Singapore</td>
                    <td>49</td>
                  </tr>
                  <tr>
                    <td>India</td>
                    <td>43</td>
                  </tr>
                  <tr>
                    <td>Australia</td>
                    <td>40</td>
                  </tr>
                  <tr>
                    <td>Ireland</td>
                    <td>38</td>
                  </tr>
                  <tr>
                    <td>Brazil</td>
                    <td>35</td>
                  </tr>
                  <tr>
                    <td>Japan</td>
                    <td>31</td>
                  </tr>
                  <tr>
                    <td>South Korea</td>
                    <td>26</td>
                  </tr>
                  <tr>
                    <td>Netherlands</td>
                    <td>20</td>
                  </tr>
                  <tr>
                    <td>France</td>
                    <td>17</td>
                  </tr>
                  <tr>
                    <td>Italy</td>
                    <td>9</td>
                  </tr>
                  <tr>
                    <td>Austria</td>
                    <td>8</td>
                  </tr>
                  <tr>
                    <td>Cambodia</td>
                    <td>6</td>
                  </tr>
                  <tr>
                    <td>Finland</td>
                    <td>6</td>
                  </tr>
                  <tr>
                    <td>Belgium</td>
                    <td>5</td>
                  </tr>
                  <tr>
                    <td>Sweden</td>
                    <td>5</td>
                  </tr>
                  <tr>
                    <td>Poland</td>
                    <td>4</td>
                  </tr>
                  <tr>
                    <td>Hungary</td>
                    <td>3</td>
                  </tr>
                  <tr>
                    <td>Mongolia</td>
                    <td>3</td>
                  </tr>
                  <tr>
                    <td>Norway</td>
                    <td>3</td>
                  </tr>
                  <tr>
                    <td>Portugal</td>
                    <td>3</td>
                  </tr>
                  <tr>
                    <td>Spain</td>
                    <td>3</td>
                  </tr>
                  <tr>
                    <td>China</td>
                    <td>2</td>
                  </tr>
                  <tr>
                    <td>Cyprus</td>
                    <td>2</td>
                  </tr>
                  <tr>
                    <td>Denmark</td>
                    <td>2</td>
                  </tr>
                  <tr>
                    <td>Hong Kong</td>
                    <td>2</td>
                  </tr>
                  <tr>
                    <td>Indonesia</td>
                    <td>2</td>
                  </tr>
                  <tr>
                    <td>Iran</td>
                    <td>2</td>
                  </tr>
                  <tr>
                    <td>New Zealand</td>
                    <td>2</td>
                  </tr>
                  <tr>
                    <td>Peru</td>
                    <td>2</td>
                  </tr>
                  <tr>
                    <td>Philippines</td>
                    <td>2</td>
                  </tr>
                  <tr>
                    <td>Saudi Arabia</td>
                    <td>2</td>
                  </tr>
                  <tr>
                    <td>Serbia</td>
                    <td>2</td>
                  </tr>
                  <tr>
                    <td>Tanzania</td>
                    <td>2</td>
                  </tr>
                  <tr>
                    <td>Thailand</td>
                    <td>2</td>
                  </tr>
                  <tr>
                    <td>Turkey</td>
                    <td>2</td>
                  </tr>
                  <tr>
                    <td>United Arab Emirates</td>
                    <td>2</td>
                  </tr>
                  <tr>
                    <td>Vietnam</td>
                    <td>2</td>
                  </tr>
                  <tr>
                    <td>Russia</td>
                    <td>1</td>
                  </tr>
                  <tr>
                    <td>Bulgaria</td>
                    <td>1</td>
                  </tr>
                  <tr>
                    <td>Chile</td>
                    <td>1</td>
                  </tr>
                  <tr>
                    <td>Czechia</td>
                    <td>1</td>
                  </tr>
                  <tr>
                    <td>Ethiopia</td>
                    <td>1</td>
                  </tr>
                  <tr>
                    <td>Greece</td>
                    <td>1</td>
                  </tr>
                  <tr>
                    <td>Iraq</td>
                    <td>1</td>
                  </tr>
                  <tr>
                    <td>Kenya</td>
                    <td>1</td>
                  </tr>
                  <tr>
                    <td>Malaysia</td>
                    <td>1</td>
                  </tr>
                  <tr>
                    <td>Mauritius</td>
                    <td>1</td>
                  </tr>
                  <tr>
                    <td>Mexico</td>
                    <td>1</td>
                  </tr>
                  <tr>
                    <td>Moldova</td>
                    <td>1</td>
                  </tr>
                  <tr>
                    <td>Romania</td>
                    <td>1</td>
                  </tr>
                  <tr>
                    <td>South Africa</td>
                    <td>1</td>
                  </tr>
                  <tr>
                    <td>Sri Lanka</td>
                    <td>1</td>
                  </tr>
                  <tr>
                    <td>Switzerland</td>
                    <td>1</td>
                  </tr>
                  <tr>
                    <td>Uganda</td>
                    <td>1</td>
                  </tr>
                  <tr>
                    <td>Ukraine</td>
                    <td>1</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </details>
</div>
        </div>
      </div>
    </section> #}

  <section class="">
    <div class="dfe-panel govuk-!-padding-9" style="background: #03FCBA;">

      <div class="dfe-width-container govuk-!-padding-6">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <h2 class="govuk-heading-xl">Tech data</h2>
            <p class="govuk-body-l">Devices and browsers the service is accessed through.</p>
          </div>
          <div class="govuk-grid-column-two-thirds">

            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-half  govuk-!-text-align-centre">
                <img src="/assets/images/computer.png" style="width: 200px" alt="">
              </div>
              <div class="govuk-grid-column-one-half govuk-!-padding-top-5">
                <p class="govuk-heading-m">Desktop users</p>
                <p class=" govuk-!-font-size-48 govuk-!-font-weight-bold">89%</p>
              </div>
            </div>

            <div class="govuk-grid-row govuk-!-margin-top-5">
              <div class="govuk-grid-column-one-half  govuk-!-text-align-centre">
                <img src="/assets/images/smartphone.png" style="width: 200px" alt="">
              </div>
              <div class="govuk-grid-column-one-half govuk-!-padding-top-5">
                <p class="govuk-heading-m">Mobile users</p>
                <p class=" govuk-!-font-size-48 govuk-!-font-weight-bold">11%</p>
              </div>
            </div>

          </div>

        </div>

        <div class="govuk-grid-row govuk-!-margin-top-5">
          <div class="govuk-grid-column-full">
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
          </div>
        </div>

        <div class="govuk-grid-row govuk-!-margin-top-5">
          <div class="govuk-grid-column-one-quarter govuk-!-text-align-centre">
            <img src="/assets/images/chrome.png" style="width: 50%" class="govuk-!-margin-bottom-5"alt="">
            <p class="govuk-heading-m">Chrome</p>
            <p class=" govuk-!-font-size-36 govuk-!-font-weight-bold">51%</p>
          </div>
          <div class="govuk-grid-column-one-quarter govuk-!-text-align-centre">
            <img src="/assets/images/edge.png" style="width: 50%" class="govuk-!-margin-bottom-5"alt="">
            <p class="govuk-heading-m">Edge</p>
            <p class=" govuk-!-font-size-36 govuk-!-font-weight-bold">35%</p>
          </div>
          <div class="govuk-grid-column-one-quarter govuk-!-text-align-centre">
            <img src="/assets/images/safari.png" style="width: 50%" class="govuk-!-margin-bottom-5"alt="">
            <p class="govuk-heading-m">Safari</p>
            <p class=" govuk-!-font-size-36 govuk-!-font-weight-bold">11%</p>
          </div>
          <div class="govuk-grid-column-one-quarter govuk-!-text-align-centre">
            <img src="/assets/images/generic.png" style="width: 50%" class="govuk-!-margin-bottom-5" alt="">
            <p class="govuk-heading-m">Others</p>
            <p class=" govuk-!-font-size-36 govuk-!-font-weight-bold">3%</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="">

    <div class="dfe-panel govuk-!-padding-9" style="background: #f9f9f9;">

      <div class="dfe-width-container govuk-!-padding-6">

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <h2 class="govuk-heading-xl">The <br/>future</h2>
            <p class="govuk-body-l">Our plans for improving the service and making it more useful.</p>
          </div>
          <div class="govuk-grid-column-two-thirds">

            <p>We've seen the guidance in the service used in lots of different ways.</p>
            <p>It's helped teams with better ways of working, preparing for service assessments and peer reviews, and incorporating the guidance into trello boards for keeping track of how they are meeting the standards throughout their project lifecycles. </p>
            <p>We'll continuing to iterate content as new guidance is created which supports the service standard.</p>
            <p>The Design Ops team are also working on the development of <a href="">a service to support the service assessment process</a>. We will be looking at how we integrate the standards guidance into this process to bring guidance and assurance process more joined up.</p>
            <h3 class="govuk-heading-l">Help us make it better</h3>
            <p>While the guidance has been developed to support teams in DfE, it can support other departments working to the Service Standard.</p>

            <p>You can <a href="https://design.education.gov.uk/design-ops/contact">contact the Design Ops</a> team with questions or feedback about this service.</p>

          </div>
        </div>

      </div>
    </div>
  </section>

  <script>

    google
      .charts
      .load('current', {'packages': ['geochart']});
    google
      .charts
      .setOnLoadCallback(drawRegionsMap);

    function drawRegionsMap() {
      var data = google
        .visualization
        .arrayToDataTable([
          [
            'Country', 'Popularity'
          ],
          [
            'United Kingdom', 4112
          ],
          [
            'United States', 824
          ],
          [
            'Germany', 74
          ],
          [
            'Canada', 58
          ],
          [
            'Singapore', 49
          ],
          [
            'India', 43
          ],
          [
            'Australia', 40
          ],
          [
            'Ireland', 38
          ],
          [
            'Brazil', 35
          ],
          [
            'Japan', 31
          ],
          [
            'South Korea', 26
          ],
          [
            'Netherlands', 20
          ],
          [
            'France', 17
          ],
          [
            'Italy', 9
          ],
          [
            'Austria', 8
          ],
          [
            'Cambodia', 6
          ],
          [
            'Finland', 6
          ],
          [
            'Belgium', 5
          ],
          [
            'Sweden', 5
          ],
          [
            'Poland', 4
          ],
          [
            'Hungary', 3
          ],
          [
            'Mongolia', 3
          ],
          [
            'Norway', 3
          ],
          [
            'Portugal', 3
          ],
          [
            'Spain', 3
          ],
          [
            'China', 2
          ],
          [
            'Cyprus', 2
          ],
          [
            'Denmark', 2
          ],
          [
            'Hong Kong', 2
          ],
          [
            'Indonesia', 2
          ],
          [
            'Iran', 2
          ],
          [
            'New Zealand', 2
          ],
          [
            'Peru', 2
          ],
          [
            'Philippines', 2
          ],
          [
            'Saudi Arabia', 2
          ],
          [
            'Serbia', 2
          ],
          [
            'Tanzania', 2
          ],
          [
            'Thailand', 2
          ],
          [
            'Turkey', 2
          ],
          [
            'United Arab Emirates', 2
          ],
          [
            'Vietnam', 2
          ],
          [
            'RU', 1
          ],
          [
            'Bulgaria', 1
          ],
          [
            'Chile', 1
          ],
          [
            'Czechia', 1
          ],
          [
            'Ethiopia', 1
          ],
          [
            'Greece', 1
          ],
          [
            'Iraq', 1
          ],
          [
            'Kenya', 1
          ],
          [
            'Malaysia', 1
          ],
          [
            'Mauritius', 1
          ],
          [
            'Mexico', 1
          ],
          [
            'Moldova', 1
          ],
          [
            'Romania', 1
          ],
          [
            'South Africa', 1
          ],
          [
            'Sri Lanka', 1
          ],
          [
            'Switzerland', 1
          ],
          [
            'Uganda', 1
          ],
          [
            'Ukraine', 1
          ]
        ]);

      var options = {
        colorAxis: {
          values: [
            0,
            10,
            40,
            60,
            100,
            800,
            4500
          ],
          colors: [
            '#e6ece9',
            '#b3c7bd',
            '#99b4a7',
            '#668e7c',
            '#1a563a',
            '#00361d',
            '#001b0e'
          ]
        },
        backgroundColor: '#81d4fa',
        legend: 'none'
      };

      var chart = new google
        .visualization
        .GeoChart(document.getElementById('regions_div'));

      chart.draw(data, options);
    }
  </script>

  <script>
    google
      .charts
      .load('current', {'packages': ['corechart']});
    google
      .charts
      .setOnLoadCallback(drawChart);

    function drawChart() {

      var data = google
        .visualization
        .arrayToDataTable([
          [
            'Device', 'Percentage'
          ],
          [
            'Desktop', 89
          ],
          [
            'Mobile', 11
          ]
        ]);

      var options = {
        title: 'Device',
        chartArea: {
          width: '100%',
          height: '80%'
        }
      };

      var chart = new google
        .visualization
        .PieChart(document.getElementById('pie-devices'));

      chart.draw(data, options);
    }
  </script>

  <script>
    google
      .charts
      .load('current', {'packages': ['corechart']});
    google
      .charts
      .setOnLoadCallback(drawChart);

    function drawChart() {

      var data = google
        .visualization
        .arrayToDataTable([
          [
            'Browser', 'Percentage'
          ],
          [
            'Chrome', 51
          ],
          [
            'Edge', 35
          ],
          [
            'Safari', 11
          ],
          [
            'Other', 3
          ]
        ]);

      var options = {
        title: 'Browser',
        chartArea: {
          width: '100%',
          height: '80%'
        }
      };

      var chart = new google
        .visualization
        .PieChart(document.getElementById('pie-browser'));

      chart.draw(data, options);
    }
  </script>

{% endblock %}