{% extends "layouts/homepage.html" %}

{% set selectedNav = "Service Standard" %}
{% set pageName = "Apply the Service Standard" %}
{% set seoPageName = "Apply the Service Standard in the Department for Education" %}
{% set pageDescription = "Guidance and information for how to apply the Government Service Standard to design and build
accessible, usable and understandable services in the Department for Education."%}
{% set selectedNav = "Home" %}

{% set standards = [
{
number: "1",
name: "Understand users and their needs",
url: "/service-standard/1-understand-user-needs"
},{
number: "2",
name: "Solve a whole problem for users",
url: "/service-standard/2-solve-a-whole-problem"
},{
number: "3",
name: "Provide a joined up experience across all channels",
url: "/service-standard/3-join-up-across-channels"
},{
number: "4",
name: "Make the service simple to use",
url: "/service-standard/4-make-the-service-simple-to-use"
},{
number: "5",
name: "Make sure everyone can use the service",
url: "/service-standard/5-make-sure-everyone-can-use-the-service"
},{
number: "6",
name: "Have a multidisciplinary team",
url: "/service-standard/6-have-a-multidisciplinary-team"
},{
number: "7",
name: "Use agile ways of working",
url: "/service-standard/7-use-agile-ways-of-working"
},{
number: "8",
name: "Iterate and improve frequently",
url: "/service-standard/8-iterate-and-improve-frequently"
},{
number: "9",
name: "Create a secure service which protects users’ privacy",
url: "/service-standard/9-create-a-secure-service"
},{
number: "10",
name: "Define what success looks like and publish performance data",
url: "/service-standard/10-define-success-publish-performance-data"
},{
number: "11",
name: "Choose the right tools and technology",
url: "/service-standard/11-choose-the-right-tools-and-technology"
},{
number: "12",
name: "Make new source code open",
url: "/service-standard/12-make-new-source-code-open"
},{
number: "13",
name: "Use and contribute to open standards, common components and patterns",
url: "/service-standard/13-use-common-standards-components-patterns"
},{
number: "14",
name: "Operate a reliable service",
url: "/service-standard/14-operate-a-reliable-service"
}
] %}

{% block hero %}
<section class="dfe-page-hero">
  <div class="dfe-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">{{pageName}}</h1>
        <p class="govuk-body-l">{{pageDescription}}</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block content %}

<section>
  <div class="dfe-width-container" style="padding: 0px 0px 80px 0px">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l">Understand and apply the Service Standard</h2>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <ul class="dfemanual-cta-cards">
          <li class="">
            <h3>Service Standard</h3>
            <p>How to apply the Service Standard throughout the agile delivery lifecycle.</p>
            <p>
              <a href="/service-standard" class="govuk-link govuk-link--no-visited-state">Understand the standard</a>
            </p>
          </li>
          <li class="">
            <h3>Service assurance</h3>
            <p>Guidance on how to ensure you're following standards.</p>
            <p>
              <a href="/service-assurance" class="govuk-link govuk-link--no-visited-state">Understand assurance</a>
            </p>
          </li>
          <li class="">
            <h3>Download guidance</h3>
            <p>All the guidance for each of the Service Standard points.</p>

            <p class="govuk-body-s">Excel - 98kb<br />Last updated: 1 December 2022</p>
            <p>
              <a href="/assets/files/standard-points-guidance-v01-dec-2022.xlsx"
                class="govuk-link govuk-link--no-visited-state">Download</a>
            </p>
          </li>
        </ul>

      </div>

    </div>
  </div>
</section>

<section class="govuk-!-margin-bottom-9">
  <div class="dfe-width-container">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l">Other guidance</h2>
        <p class="govuk-body-l">Profession-specific guidance and standards we follow in the department.</p>
      </div>
      <div class="govuk-grid-column-full">
        <ul class="dfemanual-cta-cards">
          <li class="">
            <h3>Design</h3>
            <p>Standards, principles and guidance for designing good products and services.</p>
            <p><a href="https://design.education.gov.uk" class="govuk-link">View the Design Manual</a></p>
          </li>
          <li class="">
            <h3>User research</h3>
            <p>Guidance and support for user researchers working in the department.</p>
            <p><a href="https://user-research.education.gov.uk" class="govuk-link">View the User Research Manual</a></p>
          </li>
          <li class="">
            <h3>Technology</h3>
            <p>The technology principles and standards expected of teams building digital services.</p>
            <p><a href="https://technical-guidance.education.gov.uk/" class="govuk-link">View the User Research Manual</a></p>
          </li>

          <li class="">
            <h3>Architecture</h3>
            <p>Guidance for infrastructure, platforms, common technology components and patterns.</p>
            <p><a href="https://dfe-digital.github.io/architecture/#dfe-architecture" class="govuk-link">View the User Research Manual</a></p>
          </li>
        </ul>

      </div>
    </div>
  </div>
</section>

{% endblock %}