{% extends "layouts/full.html" %}

{% set selectedNav = "Standards by phase" %}
{% set pageName = "Standards by phase" %}
{% set pageDescription = ""%}
{% set aka = "" %}
{% set mainClasses = " govuk-!-padding-bottom-9" %}

{% block content %}

    <div class="dfe-width-container govuk-!-margin-top-0">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">

                <section>
                    <div class="govuk-!-margin-top-3 govuk-!-margin-bottom-5">
                        <div class="govuk-grid-row split-panel" style="background: #f3f2f1;">
                            <div class="govuk-grid-column-one-half text-column">
                                <h2 class="govuk-heading-l govuk-!-margin-top-3">Discovery</h2>
                                <p class="govuk-body-l">What does a good discovery phase look like</p>

                                <ul class="govuk-list govuk-list--spaced">
                                    <li>
                                        <a href="">Guidance for this phase</a>
                                    </li>
                                    <li>
                                        <a href="">A good discovery</a>
                                    </li>
                                </ul>

                            </div>
                            <div class="govuk-grid-column-one-half image-column">
                                <div class="image-container"
                     style="background-image: url('/assets/images/.png');"></div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>

    <div class="dfe-width-container govuk-!-margin-top-5">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">

                <section>
                    <div class="govuk-!-margin-top-3 govuk-!-margin-bottom-5">
                        <div class="govuk-grid-row split-panel" style="background: #f3f2f1;">
                            <div class="govuk-grid-column-one-half text-column">
                                <h2 class="govuk-heading-l govuk-!-margin-top-3">Alpha</h2>
                                <p class="govuk-body-l">What does a good alpha phase look like</p>

                                <ul class="govuk-list govuk-list--spaced">
                                    <li>
                                        <a href="">Guidance for this phase</a>
                                    </li>
                                    <li>
                                        <a href="">A good alpha</a>
                                    </li>
                                </ul>

                            </div>
                            <div class="govuk-grid-column-one-half image-column">
                                <div class="image-container"
                     style="background-image: url('/assets/images/.png');"></div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>

    <div class="dfe-width-container govuk-!-margin-top-5">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">

                <section>
                    <div class="govuk-!-margin-top-3 govuk-!-margin-bottom-5">
                        <div class="govuk-grid-row split-panel" style="background: #f3f2f1;">
                            <div class="govuk-grid-column-one-half text-column">
                                <h2 class="govuk-heading-l govuk-!-margin-top-3">Beta</h2>
                                <p class="govuk-body-l">What does a good beta phase look like</p>

                                <ul class="govuk-list govuk-list--spaced">
                                    <li>
                                        <a href="">Guidance for this phase</a>
                                    </li>
                                    <li>
                                        <a href="">A good beta</a>
                                    </li>
                                </ul>

                            </div>
                            <div class="govuk-grid-column-one-half image-column">
                                <div class="image-container"
                     style="background-image: url('/assets/images/.png');"></div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>

    <div class="dfe-width-container govuk-!-margin-top-5">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">

                <section>
                    <div class="govuk-!-margin-top-3 govuk-!-margin-bottom-5">
                        <div class="govuk-grid-row split-panel" style="background: #f3f2f1;">
                            <div class="govuk-grid-column-one-half text-column">
                                <h2 class="govuk-heading-l govuk-!-margin-top-3">Live</h2>
                                <p class="govuk-body-l">What does a good live service look like</p>

                                <ul class="govuk-list govuk-list--spaced">
                                    <li>
                                        <a href="">Guidance for ongoing improvement</a>
                                    </li>
                                    <li>
                                        <a href="">A good service</a>
                                    </li>
                                </ul>

                            </div>
                            <div class="govuk-grid-column-one-half image-column">
                                <div class="image-container"
                     style="background-image: url('/assets/images/.png');"></div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>

{% endblock %}