{% extends "layouts/content-with-sidenav.html" %}


{% set pageName = "Site map" %}
{% set pageDescription = "Site map for Apply the Service Standards in DfE." %}
{% set selectedNav = "" %}
{% set lastUpdated = "May 2024 "%}

{% block content %}

<ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/service-standard/1-understand-user-needs">Understand users and their needs</a>
    </li>
    <li>
      <a href="/service-standard/2-solve-a-whole-problem">Solve a whole problem for users</a>
    </li>
    <li>
      <a href="/service-standard/3-join-up-across-channels">Provide a joined up experience across all channels</a>
    </li>
    <li>
      <a href="/service-standard/4-make-the-service-simple-to-use">Make the service simple to use</a>
    </li>
    <li>
      <a href="/service-standard/5-make-sure-everyone-can-use-the-service">Make sure everyone can use the service</a>
    </li>
    <li>
      <a href="/service-standard/6-have-a-multidisciplinary-team">Have a multidisciplinary team</a>
    </li>
    <li>
      <a href="/service-standard/7-use-agile-ways-of-working">Use agile ways of working</a>
    </li>
    <li>
      <a href="/service-standard/8-iterate-and-improve-frequently">Iterate and improve frequently</a>
    </li>
    <li>
      <a href="/service-standard/9-create-a-secure-service">Create a secure service which protects users’ privacy</a>
    </li>
    <li>
      <a href="/service-standard/10-define-success-publish-performance-data">Define what success looks like and publish performance data</a>
    </li>
    <li>
      <a href="/service-standard/11-choose-the-right-tools-and-technology">Choose the right tools and technology</a>
    </li>
    <li>
      <a href="/service-standard/12-make-new-source-code-open">Make new source code open</a>
    </li>
    <li>
      <a href="/service-standard/13-use-common-standards-components-patterns">Use and contribute to open standards, common components and patterns</a>
    </li>
    <li>
      <a href="/service-standard/14-operate-a-reliable-service">Operate a reliable service</a>
    </li>
    <li>
      <a href="/service-assessments">Service assessments</a>
    </li>
    <li>
      <a href="/service-assessments/discovery-peer-review">Discovery peer reviews</a>
    </li>
    <li>
      <a href="/service-assessments/assessments">Service assessments</a>
    </li>
    <li>
      <a href="/service-assessments/assessments">Your service assessment report</a>
    </li>
    <li>
      <a href="/service-assessments/actioning-recommendations">Manage actions from a service assessment</a>
    </li>
    <li>
      <a href="/service-assessments/run-peer-review">Run a discovery peer review</a>
    </li>
    <li>
      <a href="/service-assessments/run-service-assessment">Run a service assessment</a>
    </li>
    <li>
      <a href="/service-assessments/complete-service-assessment-report">Complete a service assessment report</a>
    </li>
    <li>
      <a href="/service-assessments/support-team">Support the team</a>
    </li>
    <li>
      <a href="/service-assessments/survey">Give feedback on the assessment process</a>
    </li>
  </ul>

{% endblock %}