{% extends "layouts/content-with-sidenav.html" %}

{% set pageName = "Updates" %}
{% set pageDescription = "A history of changes and updates to Apply the Service Standard in DfE." %}
{% set selectedNav = "Info" %}
{% set setSelectedSideNav = "" %}
{% set backlog_issue_id = "" %}

{% block beforeContent %}{% endblock %}

{% block content %}

<h2 class="govuk-heading-l govuk-!-margin-bottom-2" id="design-manual-refresh">Added Year One page</h2>

  <p><span class="govuk-body-s">On 1 September 2023 by the Design Ops team</span></p>


<p>Information and stats for the first year of the service.</p>
<p><a href="/first-year">Read about the first year of the service.</a></p>

  <h2 class="govuk-heading-l govuk-!-margin-bottom-2" id="design-manual-refresh">Styling and rebuild</h2>

  <p><span class="govuk-body-s">On 17 May 2023 by Andy Jones, Head of Design</span></p>


<p>We have published a rebuilt version of the service which uses our new DfE Frontend and header style.</p>
<p>The previous version was built using the GOV tech docs manual template and published to GitHub pages. We had identified a problem with using GitHub pages and as a result have rebuilt the codebaseand moved away from this solution.</p>
<p>Being able to do this, means it's easier to contribute to and manage change publishing through a new pipeline process.</p>
<p>For information, we haven't updated any of the guidance.</p>
{% endblock %}