{% set pageTitle = "Discovery peer review" %}

<div class="dfe-panel">
    <span class="govuk-caption-l">Outcome</span>
    <h1 class="govuk-heading-l">{{pageTitle}}</h1>

    <p>You're in the discovery phase, which means you'll be looking to:</p>

    <ul class="govuk-list govuk-list--bullet">
        <li>understand the problem you're trying to solve</li>
        <li>if applicable, understand the policy intent</li>
        <li>learn about your users through user research</li>
        <li>decide what to take forward into the alpha phase</li>
    </ul>

    <p>We do not have service assessments at the discovery phase. Discoveries are also not assessed against the Service Standard in the same way as at alpha, beta, and live.</p>

    <h2 class="govuk-heading-m">Assure your discovery phase</h2>

    <p>You must arrange a <a href="/service-assurance/prepare-for-a-discovery-peer-review/what-a-discovery-peer-review-is">discovery peer review</a> before the end of your discovery. All discoveries in DfE are required to have a peer review. You should request your review at least 5 weeks in advance, so the service assessment plus team has time to arrange a panel.</p>

    <p>You should also self-assure your work in discovery using <a href="/service-assurance/check-what-assurance-you-need/types-of-assurance">team and departmental assurance</a> methods.</p>

    <p>These could include:</p>

    <ul>
        <li>show and tells</li>
        <li>design crits</li>
        <li>RAG reviews</li>
        <li><a href="https://design.education.gov.uk/assurance/design-board/" target="_blank">design reviews</a></li>
    </ul>

    <p>You should still be working towards meeting the Service Standard which sets out 14 points for how to deliver good services.</p>

    <h2 class="govuk-heading-m">Important service standard points at discovery</h2>

    <p>You should make sure you cover and document against these standard points at discovery:</p>

    <ul class="govuk-list">
        <li>
            <a href="/service-standard/1-understand-user-needs">1. Understand users and their needs</a>
        </li>
        <li>
            <a href="/service-standard/2-solve-a-whole-problem">2. Solve a whole problem for users</a>
        </li>
        <li>
            <a href="/service-standard/3-join-up-across-channels">3. Provide a joined up experience across all channels</a>
        </li>
         <li>
            <a href="/service-standard/4-make-the-service-simple-to-use">4. Make the service simple to use</a>
        </li>
        <li>
            <a href="/service-standard/5-make-sure-everyone-can-use-the-service">5. Make sure everyone can use the service</a>
        </li>
        <li>
            <a href="/service-standard/6-have-a-multidisciplinary-team">6. Have a multidisciplinary team</a>
        </li>
        <li>
            <a href="/service-standard/7-use-agile-ways-of-working">7. Use agile ways of working</a>
        </li>
    </ul>

</div>