<section class="design-update-banner" aria-label="Design manual update">
    <div class="govuk-width-container">
        <p class="govuk-body design-update-banner__text">
            This manual will be changing in the next few months as we move to a consolidated DDT manual for delivering good services.
            <a class="design-update-banner__link" href="https://forms.office.com/Pages/ResponsePage.aspx?id=yXfS-grGoU2187O4s0qC-RUE9wJmXYhLr0TiHQh5gIpUQjI0S0NDQVBNTUY1UlQyVk80SEhPTVlVVS4u">Tell us what's missing in the Apply the Service Standard manual</a>
            and help shape the future guidance, standards and design profession in DfE.
        </p>
    </div>
</section>