{% include './_feedback.html' %}

 {{ govukFooter({
  meta: {
    items: [
      {
        href: "/cookie-policy",
        text: "Cookie policy"
      },
      {
        href: "/accessibility-statement",
        text: "Accessibility statement"
      },
      {
        href: "https://design.education.gov.uk/design-ops",
        text: "Design Ops"
      },
      {
        href: "https://github.com/DFE-Digital/apply-the-service-standard-in-dfe",
        text: "GitHub source code"
      }

    ]
  }
}) }}