 {{ header({
    "showNav": "true",
    "showSearch": "true",
    "showUserName": "false",
    "userName": "",
    "userNameURL": "",
    "selectedNav": selectedNav,
    "logoPath": "assets/images",
    "searchInputName": "searchterm",
    "service": {
      "name": serviceName
    },
    "primaryLinks": [
      {
        "url"  : "/",
        "label" : "Home"
      },
       {
        "url"  : "/service-standard",
        "label" : "Service Standard"
      },{
        "url"  : "/service-assurance",
        "label" : "Service assurance"
      }
    ]
  })
}}