<nav class="dfe-topnav" name="Other services navigation">
    <div class="govuk-width-container">
        <div class="flex-nav">
            <ul class="flex-left">
                <li>
                    <a href="https://design.education.gov.uk">Design Manual</a>
                </li>
                <li>
                    <a href="https://user-research.education.gov.uk" class="" target="_blank" >User Research Manual</a>
                </li>
                <li>
                    <a href="/" class=" active">
                        <span class="govuk-visually-hidden">Apply the service standard in DfE </span>Standards Manual</a>
                </li>
                <li>
                    <a href="https://design-histories.education.gov.uk" >Design Histories</a>
                </li>
            </ul>
            <ul class="flex-right">
                <li>
                    <a href="#feedback"  class="feedback-tab" id="feedback-tab">Give us feedback</a>
                </li>
            </ul>
        </div>

    </nav>